In [1]:
import pandas as pd

In [2]:
CALL = pd.read_csv('lv2-2502.csv')

In [3]:
CALL.head()

        CS_DT  AID  PID  CALL_CNT   TM_AVG  PASS DAT_ROLE
0  2025-01-01    1    1         6  2992.15     0    TRAIN
1  2025-01-02    1    2         8  1470.50     0    TRAIN
2  2025-01-03    1    3         8   494.62     0    TRAIN
3  2025-01-04    1    1         4  1713.15     0    TRAIN
4  2025-01-05    1    2         7   907.50     0    TRAIN

In [4]:
CALL.shape

(270, 7)

# Q24

# 24-1

In [5]:
df_24 = CALL.copy()

In [12]:
df_24.groupby('PID')['TM_AVG'].std()

PID
1    530.635472
2    381.040459
3    298.498611
Name: TM_AVG, dtype: float64

In [11]:
df_24.groupby('PID')['TM_AVG'].mean()

PID
1    1236.670333
2     491.699778
3     345.131889
Name: TM_AVG, dtype: float64

In [14]:
cvs = [530.635472/1236.670333, 381.040459/491.699778, 298.498611/345.131889]

In [15]:
cvs

[0.42908401523043577, 0.7749453549682099, 0.8648827318300917]

In [16]:
min(cvs)

0.42908401523043577

# 24-2

In [18]:
A4 = 0.42908401523043577
B4 = 1
C4 = A4 + B4

# Q24 Answer

In [19]:
print(round(C4, 3))

1.429

# Q25

In [20]:
df_25 = CALL.copy()

In [21]:
df_25.head()

        CS_DT  AID  PID  CALL_CNT   TM_AVG  PASS DAT_ROLE
0  2025-01-01    1    1         6  2992.15     0    TRAIN
1  2025-01-02    1    2         8  1470.50     0    TRAIN
2  2025-01-03    1    3         8   494.62     0    TRAIN
3  2025-01-04    1    1         4  1713.15     0    TRAIN
4  2025-01-05    1    2         7   907.50     0    TRAIN

# 25-1

In [22]:
df_25['D_P_LEN'] = df_25['CALL_CNT'] * df_25['TM_AVG']

# 25-2

In [24]:
df_25['AID'].value_counts()

1     27
2     27
3     27
4     27
5     27
6     27
7     27
8     27
9     27
10    27
Name: AID, dtype: int64

In [26]:
aids = []
for i in range(1,11):
    aids.append(i)
    
aids

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
DF25 = pd.DataFrame()

In [28]:
DF25['AID'] = aids

In [34]:
DF25['A_CNT'] = df_25.groupby('AID')['CALL_CNT'].sum().reset_index()['CALL_CNT']

In [35]:
DF25.head()

   AID  A_CNT
0    1    188
1    2    116
2    3    401
3    4    311
4    5    580

In [36]:
DF25['A_LEN'] = df_25.groupby('AID')['D_P_LEN'].sum().reset_index()['D_P_LEN']

In [37]:
DF25['A_PASS'] = df_25.groupby('AID')['PASS'].mean().reset_index()['PASS']

In [38]:
DF25.head()

   AID  A_CNT      A_LEN    A_PASS
0    1    188  254977.86  0.000000
1    2    116   27502.85  0.000000
2    3    401  367339.91  0.666667
3    4    311  105158.02  0.629630
4    5    580  441875.93  0.666667

# 25-3

In [40]:
from sklearn.preprocessing import StandardScaler

In [42]:
targets = ['A_CNT', 'A_LEN']

for target in targets:
    DF25[target + '_S'] = StandardScaler().fit_transform(X=DF25.loc[:, [target]])

In [43]:
DF25.head()

   AID  A_CNT      A_LEN    A_PASS   A_CNT_S   A_LEN_S
0    1    188  254977.86  0.000000 -1.282750 -0.502432
1    2    116   27502.85  0.000000 -1.545280 -1.632111
2    3    401  367339.91  0.666667 -0.506099  0.055576
3    4    311  105158.02  0.629630 -0.834261 -1.246462
4    5    580  441875.93  0.666667  0.146579  0.425734

# 25-4

In [44]:
from sklearn.cluster import KMeans

In [46]:
model = KMeans(random_state=1234, n_clusters=2).fit(X=DF25.loc[:, ['A_CNT_S', "A_LEN_S"]])

In [47]:
DF25['LABEL'] = model.predict(X=DF25.loc[:, ['A_CNT_S', "A_LEN_S"]])

In [48]:
DF25.head()

   AID  A_CNT      A_LEN    A_PASS   A_CNT_S   A_LEN_S  LABEL
0    1    188  254977.86  0.000000 -1.282750 -0.502432      0
1    2    116   27502.85  0.000000 -1.545280 -1.632111      0
2    3    401  367339.91  0.666667 -0.506099  0.055576      0
3    4    311  105158.02  0.629630 -0.834261 -1.246462      0
4    5    580  441875.93  0.666667  0.146579  0.425734      1

# 25-5

In [49]:
DF25.groupby('LABEL')['A_PASS'].mean()

LABEL
0    0.459259
1    0.755556
Name: A_PASS, dtype: float64

In [50]:
ANS = abs(0.459259 - 0.755556)

# Q25 Answer

In [51]:
print(round(ANS, 3))

0.296

# Q26

In [61]:
df_26 = CALL.copy()

In [62]:
df_26.shape

(270, 7)

In [63]:
df_26.head()

        CS_DT  AID  PID  CALL_CNT   TM_AVG  PASS DAT_ROLE
0  2025-01-01    1    1         6  2992.15     0    TRAIN
1  2025-01-02    1    2         8  1470.50     0    TRAIN
2  2025-01-03    1    3         8   494.62     0    TRAIN
3  2025-01-04    1    1         4  1713.15     0    TRAIN
4  2025-01-05    1    2         7   907.50     0    TRAIN

# 26-1

In [64]:
pass_avg = df_26.groupby('AID')['PASS'].mean().reset_index()

In [65]:
pass_avg['PASS'] == 0

0     True
1     True
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: PASS, dtype: bool

In [66]:
DF26 = df_26[(df_26['AID'] != 1) & (df_26['AID'] != 2)]

In [67]:
DF26.shape

(216, 7)

# 26-2

In [68]:
TRAIN26 = DF26[DF26['DAT_ROLE'] == 'TRAIN']
TEST26 = DF26[DF26['DAT_ROLE'] == 'TEST']

In [69]:
TRAIN26.shape

(161, 7)

In [70]:
TEST26.shape

(55, 7)

# 26-3

In [71]:
from sklearn.tree import DecisionTreeClassifier

In [72]:
model = DecisionTreeClassifier(random_state=1234, max_depth=2).fit(y=TRAIN26['PASS'], X=TRAIN26.loc[:, ['CALL_CNT', 'TM_AVG']])

# 26-4

In [79]:
model.tree_.threshold

array([1199.44000244,   10.5       ,   -2.        ,   -2.        ,
         -2.        ])

In [81]:
A6=1199.44000244

# 26-5

In [82]:
pred = model.predict(X=TEST26.loc[:, ['CALL_CNT', 'TM_AVG']])

In [83]:
pred

array([0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1], dtype=int64)

In [84]:
TEST26['PRED'] = pred

c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [85]:
TEST26.head()

         CS_DT  AID  PID  CALL_CNT   TM_AVG  PASS DAT_ROLE  PRED
55  2025-01-02    3    1        14  1777.05     0     TEST     0
59  2025-01-06    3    2        13   742.83     1     TEST     1
77  2025-01-24    3    2        14   368.17     1     TEST     1
81  2025-01-01    4    1         8   381.86     0     TEST     0
84  2025-01-04    4    1         8   396.86     0     TEST     0

In [86]:
TEST26['RES'] = TEST26['PASS'] + TEST26['PRED']

c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [87]:
TEST26['RES'].value_counts()

2    37
0    18
Name: RES, dtype: int64

In [88]:
B6=37

# Q26 Answer

In [89]:
print(round(A6+B6, 1))

1236.4