# Q1

In [49]:
import pandas as pd

In [50]:
df = pd.read_csv('lv2-2305-1.csv')

In [51]:
df.head()

,EMP_ID,NUM_LOGIN,NUM_CONTENTS,NUM_ACTION,TIME_LOGIN,TIME_TEST,NUM_REVISION,SCORE
0,S0001,7,10,57,150,1.95,1,9.77
1,S0002,7,11,54,144,2.42,10,5.80
2,S0003,2,11,21,132,2.14,1,9.77
3,S0004,10,11,101,350,2.73,7,7.15
4,S0005,4,11,35,93,1.61,5,5.28

In [52]:
from sklearn.preprocessing import StandardScaler

In [56]:
# step 1-1

scale_target = ['NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_LOGIN']

for target in scale_target:
    df[target + '_S'] = StandardScaler().fit_transform(df.loc[:, [target]])

In [57]:
df.head()

,EMP_ID,NUM_LOGIN,NUM_CONTENTS,NUM_ACTION,TIME_LOGIN,TIME_TEST,NUM_REVISION,SCORE,NUM_LOGIN_S,NUM_CONTENTS_S,NUM_ACTION_S,TIME_LOGIN_S
0,S0001,7,10,57,150,1.95,1,9.77,-0.126300,-0.100228,-0.388707,-0.152704
1,S0002,7,11,54,144,2.42,10,5.80,-0.126300,0.397199,-0.449580,-0.192111
2,S0003,2,11,21,132,2.14,1,9.77,-0.998685,0.397199,-1.119179,-0.270926
3,S0004,10,11,101,350,2.73,7,7.15,0.397130,0.397199,0.504092,1.160878
4,S0005,4,11,35,93,1.61,5,5.28,-0.649731,0.397199,-0.835106,-0.527075

In [61]:
# step 1-2

df['INVOLVEMENT'] = df['NUM_LOGIN_S'] + df['NUM_CONTENTS_S'] + df['NUM_ACTION_S'] + df['TIME_LOGIN_S']

In [60]:
df.head()

,EMP_ID,NUM_LOGIN,NUM_CONTENTS,NUM_ACTION,TIME_LOGIN,TIME_TEST,NUM_REVISION,SCORE,NUM_LOGIN_S,NUM_CONTENTS_S,NUM_ACTION_S,TIME_LOGIN_S,INVOLVEMENT
0,S0001,7,10,57,150,1.95,1,9.77,-0.126300,-0.100228,-0.388707,-0.152704,-0.767939
1,S0002,7,11,54,144,2.42,10,5.80,-0.126300,0.397199,-0.449580,-0.192111,-0.370792
2,S0003,2,11,21,132,2.14,1,9.77,-0.998685,0.397199,-1.119179,-0.270926,-1.991591
3,S0004,10,11,101,350,2.73,7,7.15,0.397130,0.397199,0.504092,1.160878,2.459300
4,S0005,4,11,35,93,1.61,5,5.28,-0.649731,0.397199,-0.835106,-0.527075,-1.614714

In [62]:
# step 1-3

from scipy.stats import pearsonr

In [66]:
coef, p = pearsonr(x=df['INVOLVEMENT'], y=df['SCORE'])

In [67]:
print(coef)

0.44598688704115624

In [69]:
print(round(coef, 3))

0.446

# Q2

In [144]:
df_2 = df.copy()
# df_2 = df_2.loc[:, ['NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_LOGIN', 'TIME_TEST', 'NUM_REVISION', 'SCORE']]

In [145]:
df_2.head()

,EMP_ID,NUM_LOGIN,NUM_CONTENTS,NUM_ACTION,TIME_LOGIN,TIME_TEST,NUM_REVISION,SCORE,NUM_LOGIN_S,NUM_CONTENTS_S,NUM_ACTION_S,TIME_LOGIN_S,INVOLVEMENT
0,S0001,7,10,57,150,1.95,1,9.77,-0.126300,-0.100228,-0.388707,-0.152704,-0.767939
1,S0002,7,11,54,144,2.42,10,5.80,-0.126300,0.397199,-0.449580,-0.192111,-0.370792
2,S0003,2,11,21,132,2.14,1,9.77,-0.998685,0.397199,-1.119179,-0.270926,-1.991591
3,S0004,10,11,101,350,2.73,7,7.15,0.397130,0.397199,0.504092,1.160878,2.459300
4,S0005,4,11,35,93,1.61,5,5.28,-0.649731,0.397199,-0.835106,-0.527075,-1.614714

In [146]:
# 2-1

q1 = df_2['SCORE'].quantile(q=0.25)

In [147]:
q1

np.float64(5.38)

In [148]:
q3 = df_2['SCORE'].quantile(q=0.75)

In [149]:
q3

np.float64(7.6899999999999995)

In [150]:
iqr= q3 - q1

In [151]:
iqr

np.float64(2.3099999999999996)

In [152]:
df_2 = df_2[df_2['SCORE'] > q1 - 1.5 * iqr]

In [153]:
df_2 = df_2[df_2['SCORE'] < q3 + 1.5 * iqr]

In [154]:
# 2-2
df_2_train = df_2[(df_2['EMP_ID'].str[4].astype(int)) % 4 != 0]

In [155]:
df_2_test = df_2[(df_2['EMP_ID'].str[4].astype(int)) % 4 == 0]

In [156]:
# 2-3

from sklearn.linear_model import LinearRegression

In [157]:
df_2_train = df_2_train.loc[:, ['NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_LOGIN', 'TIME_TEST', 'NUM_REVISION', 'SCORE']]
df_2_train.head()

,NUM_LOGIN,NUM_CONTENTS,NUM_ACTION,TIME_LOGIN,TIME_TEST,NUM_REVISION,SCORE
0,7,10,57,150,1.95,1,9.77
1,7,11,54,144,2.42,10,5.80
2,2,11,21,132,2.14,1,9.77
4,4,11,35,93,1.61,5,5.28
5,3,11,41,47,2.31,6,5.81

In [158]:
df_2_test = df_2_test.loc[:, ['NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_LOGIN', 'TIME_TEST', 'NUM_REVISION', 'SCORE']]

In [159]:
test_target = ['NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_LOGIN', 'TIME_TEST', 'NUM_REVISION']

In [163]:
df_2_train.shape[0]

187

In [160]:
q2_res =pd.DataFrame(data=['NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_LOGIN', 'TIME_TEST', 'NUM_REVISION'], columns=['col'])

In [165]:
addr_sqrs = []
for target in test_target:
    model = LinearRegression().fit(X = df_2_train[[target]], y = df_2_train['SCORE'])
    r_sqr = model.score(X = df_2_train[[target]], y = df_2_train['SCORE'])
    addr_sqr= 1 - (((1 - r_sqr) * (df_2_train.shape[0] - 1))/(df_2_train.shape[0] - 1 - 1))
    addr_sqrs.append(addr_sqr)

In [166]:
addr_sqrs

[0.057608013847923134,
 0.09750211233161177,
 0.07595351388582561,
 0.26585408702965907,
 0.05859302381994669,
 0.005209967763311729]

In [167]:
q2_res['addr'] = addr_sqrs

In [168]:
q2_res

            col      addr
0     NUM_LOGIN  0.057608
1  NUM_CONTENTS  0.097502
2    NUM_ACTION  0.075954
3    TIME_LOGIN  0.265854
4     TIME_TEST  0.058593
5  NUM_REVISION  0.005210

In [170]:
q2_res['addr'].max() # TIME_LOGIN

np.float64(0.26585408702965907)