# Q1

In [107]:
import pandas as pd

In [108]:
df_1 = pd.read_csv('lv2-2305-2.csv')

In [109]:
df_1.head()

   REG_NO  GRE  TOEFL UNIV_RATING  SOP  LOR  CGPA  RESEARCH     ADMIT
0       1  337    118           B  4.5  4.5  9.65         1  Admitted
1       2  324    107           B  4.0  4.5  8.87         1  Admitted
2       3  316    104           C  3.0  3.5  8.00         1    Denied
3       4  322    110           C  3.5  2.5  8.67         1  Admitted
4       5  314    103           D  2.0  3.0  8.21         0    Denied

In [110]:
df_1.shape

(400, 9)

### 1-1

In [111]:
df_1_adm = df_1[df_1['ADMIT'] == 'Admitted']

In [112]:
df_1_adm.shape

(180, 9)

In [113]:
df_1_den = df_1[df_1['ADMIT'] == 'Denied']
df_1_den.shape

(220, 9)

### 1-2

In [114]:
df_1_adm['GRE'].rank(method='min', ascending=False)

0       16.0
1       97.0
3      120.0
5       51.0
6      131.0
       ...
394     57.0
395     97.0
396     89.0
397     51.0
399     33.0
Name: GRE, Length: 180, dtype: float64

In [117]:
targets = ['GRE', 'TOEFL', 'CGPA']

for target in targets:
    df_1_adm[target + '_R'] = df_1_adm[target].rank(method='min', ascending=False)
    df_1_den[target + '_R'] = df_1_den[target].rank(method='min', ascending=False)

c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [118]:
df_1_adm

,REG_NO,GRE,TOEFL,UNIV_RATING,SOP,LOR,CGPA,RESEARCH,ADMIT,GRE_R,TOEFL_R,CGPA_R
0,1,337,118,B,4.5,4.5,9.65,1,Admitted,16.0,18.0,18.0
1,2,324,107,B,4.0,4.5,8.87,1,Admitted,97.0,153.0,126.0
3,4,322,110,C,3.5,2.5,8.67,1,Admitted,120.0,109.0,154.0
5,6,330,115,A,4.5,3.0,9.34,1,Admitted,51.0,45.0,47.0
6,7,321,109,C,3.0,4.0,8.20,1,Admitted,131.0,135.0,179.0
...,...,...,...,...,...,...,...,...,...,...,...,...
394,395,329,111,B,4.5,4.0,9.23,1,Admitted,57.0,94.0,58.0
395,396,324,110,C,3.5,3.5,9.04,1,Admitted,97.0,109.0,102.0
396,397,325,67,C,3.0,3.5,9.11,1,Admitted,89.0,179.0,85.0
397,398,330,116,B,5.0,4.5,9.45,1,Admitted,51.0,34.0,31.0
399,400,333,117,B,5.0,4.0,9.66,1,Admitted,33.0,27.0,15.0

In [119]:
df_1_den

,REG_NO,GRE,TOEFL,UNIV_RATING,SOP,LOR,CGPA,RESEARCH,ADMIT,GRE_R,TOEFL_R,CGPA_R
2,3,316,104,C,3.0,3.5,8.00,1,Denied,50.0,102.0,155.0
4,5,314,103,D,2.0,3.0,8.21,0,Denied,71.0,123.0,114.0
7,8,308,101,D,3.0,4.0,7.90,0,Denied,125.0,150.0,168.0
8,9,302,102,E,2.0,1.5,8.00,0,Denied,166.0,136.0,155.0
9,10,323,108,C,3.5,3.0,8.60,0,Denied,15.0,31.0,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...
387,388,307,105,D,2.0,3.5,8.10,0,Denied,134.0,77.0,136.0
388,389,296,97,D,1.5,2.0,7.80,0,Denied,207.0,203.0,185.0
390,391,314,102,D,2.0,2.5,8.24,0,Denied,71.0,136.0,107.0
391,392,318,106,C,2.0,3.0,8.65,0,Denied,34.0,57.0,30.0
398,399,312,103,C,3.5,4.0,8.78,0,Denied,88.0,123.0,13.0

### 1-3

In [132]:
from scipy.stats import spearmanr

In [133]:
spearmanr(df_1_adm['CGPA_R'], df_1_adm['GRE_R'])

SpearmanrResult(correlation=0.7770913247704572, pvalue=1.2346594088259062e-37)

In [134]:
spearmanr(df_1_adm['CGPA_R'], df_1_adm['TOEFL_R'])

SpearmanrResult(correlation=0.7385953075966454, pvalue=2.65633884835193e-32)

In [135]:
A = 0.7770913247704572
A_VAR = 'CGPA_R'

In [136]:
spearmanr(df_1_den['CGPA_R'], df_1_den['GRE_R'])

SpearmanrResult(correlation=0.5954030737434418, pvalue=1.7069327747848276e-22)

In [137]:
spearmanr(df_1_den['CGPA_R'], df_1_den['TOEFL_R'])

SpearmanrResult(correlation=0.6167243066525749, pvalue=1.918727502244697e-24)

In [138]:
B = 0.6167243066525749
B_VAR = 'TOEFL_R'

### Q1 Answer

In [140]:
round((A - B), 2)

0.16