# Q1

In [49]:
import pandas as pd

In [50]:
df = pd.read_csv('lv2-2305-1.csv')

In [51]:
df.head()

,EMP_ID,NUM_LOGIN,NUM_CONTENTS,NUM_ACTION,TIME_LOGIN,TIME_TEST,NUM_REVISION,SCORE
0,S0001,7,10,57,150,1.95,1,9.77
1,S0002,7,11,54,144,2.42,10,5.80
2,S0003,2,11,21,132,2.14,1,9.77
3,S0004,10,11,101,350,2.73,7,7.15
4,S0005,4,11,35,93,1.61,5,5.28

In [52]:
from sklearn.preprocessing import StandardScaler

In [56]:
# step 1-1

scale_target = ['NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_LOGIN']

for target in scale_target:
    df[target + '_S'] = StandardScaler().fit_transform(df.loc[:, [target]])

In [57]:
df.head()

,EMP_ID,NUM_LOGIN,NUM_CONTENTS,NUM_ACTION,TIME_LOGIN,TIME_TEST,NUM_REVISION,SCORE,NUM_LOGIN_S,NUM_CONTENTS_S,NUM_ACTION_S,TIME_LOGIN_S
0,S0001,7,10,57,150,1.95,1,9.77,-0.126300,-0.100228,-0.388707,-0.152704
1,S0002,7,11,54,144,2.42,10,5.80,-0.126300,0.397199,-0.449580,-0.192111
2,S0003,2,11,21,132,2.14,1,9.77,-0.998685,0.397199,-1.119179,-0.270926
3,S0004,10,11,101,350,2.73,7,7.15,0.397130,0.397199,0.504092,1.160878
4,S0005,4,11,35,93,1.61,5,5.28,-0.649731,0.397199,-0.835106,-0.527075

In [61]:
# step 1-2

df['INVOLVEMENT'] = df['NUM_LOGIN_S'] + df['NUM_CONTENTS_S'] + df['NUM_ACTION_S'] + df['TIME_LOGIN_S']

In [60]:
df.head()

,EMP_ID,NUM_LOGIN,NUM_CONTENTS,NUM_ACTION,TIME_LOGIN,TIME_TEST,NUM_REVISION,SCORE,NUM_LOGIN_S,NUM_CONTENTS_S,NUM_ACTION_S,TIME_LOGIN_S,INVOLVEMENT
0,S0001,7,10,57,150,1.95,1,9.77,-0.126300,-0.100228,-0.388707,-0.152704,-0.767939
1,S0002,7,11,54,144,2.42,10,5.80,-0.126300,0.397199,-0.449580,-0.192111,-0.370792
2,S0003,2,11,21,132,2.14,1,9.77,-0.998685,0.397199,-1.119179,-0.270926,-1.991591
3,S0004,10,11,101,350,2.73,7,7.15,0.397130,0.397199,0.504092,1.160878,2.459300
4,S0005,4,11,35,93,1.61,5,5.28,-0.649731,0.397199,-0.835106,-0.527075,-1.614714

In [62]:
# step 1-3

from scipy.stats import pearsonr

In [66]:
coef, p = pearsonr(x=df['INVOLVEMENT'], y=df['SCORE'])

In [67]:
print(coef)

0.44598688704115624

In [69]:
print(round(coef, 3))

0.446

# Q2

In [144]:
df_2 = df.copy()
# df_2 = df_2.loc[:, ['NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_LOGIN', 'TIME_TEST', 'NUM_REVISION', 'SCORE']]

In [145]:
df_2.head()

,EMP_ID,NUM_LOGIN,NUM_CONTENTS,NUM_ACTION,TIME_LOGIN,TIME_TEST,NUM_REVISION,SCORE,NUM_LOGIN_S,NUM_CONTENTS_S,NUM_ACTION_S,TIME_LOGIN_S,INVOLVEMENT
0,S0001,7,10,57,150,1.95,1,9.77,-0.126300,-0.100228,-0.388707,-0.152704,-0.767939
1,S0002,7,11,54,144,2.42,10,5.80,-0.126300,0.397199,-0.449580,-0.192111,-0.370792
2,S0003,2,11,21,132,2.14,1,9.77,-0.998685,0.397199,-1.119179,-0.270926,-1.991591
3,S0004,10,11,101,350,2.73,7,7.15,0.397130,0.397199,0.504092,1.160878,2.459300
4,S0005,4,11,35,93,1.61,5,5.28,-0.649731,0.397199,-0.835106,-0.527075,-1.614714

In [146]:
# 2-1

q1 = df_2['SCORE'].quantile(q=0.25)

In [147]:
q1

np.float64(5.38)

In [148]:
q3 = df_2['SCORE'].quantile(q=0.75)

In [149]:
q3

np.float64(7.6899999999999995)

In [150]:
iqr= q3 - q1

In [151]:
iqr

np.float64(2.3099999999999996)

In [152]:
df_2 = df_2[df_2['SCORE'] > q1 - 1.5 * iqr]

In [153]:
df_2 = df_2[df_2['SCORE'] < q3 + 1.5 * iqr]

In [154]:
# 2-2
df_2_train = df_2[(df_2['EMP_ID'].str[4].astype(int)) % 4 != 0]

In [155]:
df_2_test = df_2[(df_2['EMP_ID'].str[4].astype(int)) % 4 == 0]

In [156]:
# 2-3

from sklearn.linear_model import LinearRegression

In [157]:
df_2_train = df_2_train.loc[:, ['NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_LOGIN', 'TIME_TEST', 'NUM_REVISION', 'SCORE']]
df_2_train.head()

,NUM_LOGIN,NUM_CONTENTS,NUM_ACTION,TIME_LOGIN,TIME_TEST,NUM_REVISION,SCORE
0,7,10,57,150,1.95,1,9.77
1,7,11,54,144,2.42,10,5.80
2,2,11,21,132,2.14,1,9.77
4,4,11,35,93,1.61,5,5.28
5,3,11,41,47,2.31,6,5.81

In [158]:
df_2_test = df_2_test.loc[:, ['NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_LOGIN', 'TIME_TEST', 'NUM_REVISION', 'SCORE']]

In [159]:
test_target = ['NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_LOGIN', 'TIME_TEST', 'NUM_REVISION']

In [163]:
df_2_train.shape[0]

187

In [160]:
q2_res =pd.DataFrame(data=['NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_LOGIN', 'TIME_TEST', 'NUM_REVISION'], columns=['col'])

In [165]:
addr_sqrs = []
for target in test_target:
    model = LinearRegression().fit(X = df_2_train[[target]], y = df_2_train['SCORE'])
    r_sqr = model.score(X = df_2_train[[target]], y = df_2_train['SCORE'])
    addr_sqr= 1 - (((1 - r_sqr) * (df_2_train.shape[0] - 1))/(df_2_train.shape[0] - 1 - 1))
    addr_sqrs.append(addr_sqr)

In [166]:
addr_sqrs

[0.057608013847923134,
 0.09750211233161177,
 0.07595351388582561,
 0.26585408702965907,
 0.05859302381994669,
 0.005209967763311729]

In [167]:
q2_res['addr'] = addr_sqrs

In [168]:
q2_res

            col      addr
0     NUM_LOGIN  0.057608
1  NUM_CONTENTS  0.097502
2    NUM_ACTION  0.075954
3    TIME_LOGIN  0.265854
4     TIME_TEST  0.058593
5  NUM_REVISION  0.005210

In [170]:
q2_res['addr'].max() # TIME_LOGIN

np.float64(0.26585408702965907)

In [171]:
q2_res =pd.DataFrame(data=['NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_TEST', 'NUM_REVISION'], columns=['col'])

In [172]:
test_target = ['NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_TEST', 'NUM_REVISION']

In [173]:
addr_sqrs = []
for target in test_target:
    model = LinearRegression().fit(X = df_2_train.loc[:, ['TIME_LOGIN', target]], y = df_2_train['SCORE'])
    r_sqr = model.score(X = df_2_train.loc[:, ['TIME_LOGIN', target]], y = df_2_train['SCORE'])
    addr_sqr= 1 - (((1 - r_sqr) * (df_2_train.shape[0] - 1))/(df_2_train.shape[0] - 2 - 1))
    addr_sqrs.append(addr_sqr)
addr_sqrs

[0.2830733163482513,
 0.29674428713721424,
 0.2657945678854613,
 0.2726112372266525,
 0.27905877499005316]

In [174]:
q2_res['addr'] = addr_sqrs
q2_res

            col      addr
0     NUM_LOGIN  0.283073
1  NUM_CONTENTS  0.296744
2    NUM_ACTION  0.265795
3     TIME_TEST  0.272611
4  NUM_REVISION  0.279059

In [175]:
q2_res['addr'].max() # NUM_CONTENTS

np.float64(0.29674428713721424)

In [176]:
q2_res =pd.DataFrame(data=['NUM_LOGIN', 'NUM_ACTION', 'TIME_TEST', 'NUM_REVISION'], columns=['col'])
test_target = ['NUM_LOGIN', 'NUM_ACTION', 'TIME_TEST', 'NUM_REVISION']

addr_sqrs = []
for target in test_target:
    model = LinearRegression().fit(X = df_2_train.loc[:, ['TIME_LOGIN', 'NUM_CONTENTS', target]], y = df_2_train['SCORE'])
    r_sqr = model.score(X = df_2_train.loc[:, ['TIME_LOGIN', 'NUM_CONTENTS', target]], y = df_2_train['SCORE'])
    addr_sqr= 1 - (((1 - r_sqr) * (df_2_train.shape[0] - 1))/(df_2_train.shape[0] - 3 - 1))
    addr_sqrs.append(addr_sqr)
addr_sqrs

[0.3251552946757851,
 0.3082438994821072,
 0.2956025550214588,
 0.3265951102870196]

In [177]:
q2_res['addr'] = addr_sqrs

In [178]:
q2_res

            col      addr
0     NUM_LOGIN  0.325155
1    NUM_ACTION  0.308244
2     TIME_TEST  0.295603
3  NUM_REVISION  0.326595

In [180]:
q2_res['addr'].max() # NUM_REVISION

np.float64(0.3265951102870196)

In [191]:
model = LinearRegression().fit(X = df_2_train.loc[:, ['TIME_LOGIN', 'NUM_CONTENTS', 'NUM_REVISION']], y = df_2_train['SCORE'])

In [192]:
pred = model.predict(X=df_2_test.loc[:, ['TIME_LOGIN', 'NUM_CONTENTS', 'NUM_REVISION']])

In [193]:
from sklearn.metrics import mean_squared_error

In [195]:
round(mean_squared_error(y_true = df_2_test['SCORE'], y_pred = pred) ** 0.5, 2)

1.39

# Q3

### 3-1

In [196]:
import pandas as pd

In [198]:
df_3 = pd.read_csv('lv2-2305-1.csv')
df_3.head()

,EMP_ID,NUM_LOGIN,NUM_CONTENTS,NUM_ACTION,TIME_LOGIN,TIME_TEST,NUM_REVISION,SCORE
0,S0001,7,10,57,150,1.95,1,9.77
1,S0002,7,11,54,144,2.42,10,5.80
2,S0003,2,11,21,132,2.14,1,9.77
3,S0004,10,11,101,350,2.73,7,7.15
4,S0005,4,11,35,93,1.61,5,5.28

In [209]:
df_a = df_3.loc[df_3['SCORE'] <= 5]

In [210]:
df_b = df_3.loc[df_3['SCORE'] > 5]
df_b = df_b.loc[df_b['SCORE'] <= 7]

In [211]:
df_c = df_3.loc[df_3['SCORE'] > 7]
df_c = df_c.loc[df_c['SCORE'] <= 10]

### 3-2

In [265]:
from sklearn.ensemble import RandomForestRegressor

In [266]:
test_col = ['NUM_LOGIN', 'NUM_CONTENTS', 'NUM_ACTION', 'TIME_LOGIN', 'TIME_TEST', 'NUM_REVISION']

In [267]:
model_a = RandomForestRegressor(n_estimators=10, random_state=1234, min_samples_leaf=10).fit(X=df_a.loc[:, test_col], y=df_a['SCORE'])

In [268]:
model_b = RandomForestRegressor(n_estimators=10, random_state=1234, min_samples_leaf=10).fit(X=df_b.loc[:, test_col], y=df_b['SCORE'])

In [269]:
model_c = RandomForestRegressor(n_estimators=10, random_state=1234, min_samples_leaf=10).fit(X=df_c.loc[:, test_col], y=df_c['SCORE'])

In [270]:
model_a.feature_importances_, model_b.feature_importances_, model_c.feature_importances_

(array([0.1       , 0.28329769, 0.6       , 0.        , 0.        ,
        0.01670231]),
 array([0.02380331, 0.00271996, 0.03890917, 0.74317753, 0.16952741,
        0.02186262]),
 array([0.        , 0.0074127 , 0.17934068, 0.10480842, 0.6058609 ,
        0.1025773 ]))

In [271]:
a_fi = pd.DataFrame(test_col, columns=['feat'])

In [272]:
b_fi = pd.DataFrame(test_col, columns=['feat'])

In [273]:
c_fi = pd.DataFrame(test_col, columns=['feat'])

### 3-3

In [280]:
a_fi['fi'] = model_a.feature_importances_

In [281]:
b_fi['fi'] = model_b.feature_importances_

In [282]:
c_fi['fi'] = model_c.feature_importances_

In [283]:
a_fi.iloc[a_fi['fi'].idxmax()]

feat    NUM_ACTION
fi             0.6
Name: 2, dtype: object

In [284]:
b_fi.iloc[b_fi['fi'].idxmax()]

feat    TIME_LOGIN
fi        0.743178
Name: 3, dtype: object

In [285]:
c_fi.iloc[c_fi['fi'].idxmax()]

feat    TIME_TEST
fi       0.605861
Name: 4, dtype: object

### ANSWER 3

In [286]:
round(a_fi.iloc[a_fi['fi'].idxmax(), 1] + b_fi.iloc[b_fi['fi'].idxmax(), 1] + c_fi.iloc[c_fi['fi'].idxmax(), 1], 2)

np.float64(1.95)