# Q1

In [20]:
import pandas as pd

In [21]:
df_1 = pd.read_csv('lv2-2305-4.csv')
df_1.head()

,SEQ,LABEL,SENSOR1,SENSOR2,SENSOR3,SENSOR4,SENSOR5,SENSOR6,SENSOR7,SENSOR8,...,SENSOR15,SENSOR16,SENSOR17,SENSOR18,SENSOR19,SENSOR20,SENSOR21,SENSOR22,SENSOR23,SENSOR24
0,1,1,0.379162,0.647414,3.880380,3.875621,5.268301,2.558206,5.147154,2.313852,...,1.919116,0.604807,0.260053,0.280056,0.666976,0.762952,0.199911,0.354782,0.374587,0.093596
1,2,1,0.591498,0.510893,3.376670,3.465723,5.302984,2.577480,5.045021,2.491559,...,1.872907,0.549273,21.071164,0.226999,0.372931,0.387560,0.015039,0.077376,0.402721,0.560322
2,3,1,-0.147400,0.426696,3.526220,3.416755,5.100899,2.951998,4.795645,2.707073,...,2.051653,0.704652,0.452275,0.271521,0.507600,0.646364,0.554347,0.400512,0.288968,0.365966
3,4,1,0.261763,0.291957,3.348035,3.897100,5.043396,2.695716,5.076779,2.316566,...,1.624188,0.494626,0.815164,0.349706,0.428787,0.257089,0.551376,0.577900,0.774861,0.556760
4,5,1,0.265247,0.395705,3.876277,3.770231,4.971883,2.749833,4.926769,2.620449,...,1.886296,0.724100,0.228323,0.711709,0.687992,0.541130,0.358048,0.422028,0.462574,0.420526

In [22]:
df_1.shape

(5456, 26)

### 1-1

In [23]:
from scipy.stats import skew

In [24]:
skew(df_1['SENSOR1'])

np.float64(9.524292570104766)

In [25]:
skew_arr = []
for i in range(2, 26):
    skew_arr.append(skew(df_1.iloc[:, i]))

In [26]:
skew_arr

[np.float64(9.524292570104766),
 np.float64(5.289324441290496),
 np.float64(5.750101188700096),
 np.float64(5.343959456181708),
 np.float64(5.15423344677548),
 np.float64(5.546204992485435),
 np.float64(4.720055703885736),
 np.float64(6.4991357173255775),
 np.float64(5.182394780161761),
 np.float64(5.141800384768301),
 np.float64(5.135374958552416),
 np.float64(5.9735764359018875),
 np.float64(5.1818863963209685),
 np.float64(4.0618368735851265),
 np.float64(3.397396022335942),
 np.float64(7.562595082307756),
 np.float64(8.514869313256833),
 np.float64(8.647390033680287),
 np.float64(7.165334843188253),
 np.float64(6.951967242699382),
 np.float64(8.993463594669175),
 np.float64(4.652400893977278),
 np.float64(5.952281513213738),
 np.float64(6.8050346204148475)]

In [27]:
len(skew_arr)

24

### 1-2

### Q1 Answer

In [28]:
print(round(max(skew_arr), 2))

9.52

# Q2

### 2-1

In [29]:
from sklearn.preprocessing import StandardScaler

In [30]:
StandardScaler().fit_transform(X=df_1[['SENSOR' + str(1)]])

array([[-0.79532204],
       [-0.65046083],
       [-1.15455783],
       ...,
       [-0.43139424],
       [-0.30026432],
       [-0.39710655]], shape=(5456, 1))

In [31]:
for i in range(1, 25):
    df_1['SENSOR' + str(i) + '_S'] = StandardScaler().fit_transform(X=df_1[['SENSOR' + str(i)]])

In [32]:
df_1.head()

,SEQ,LABEL,SENSOR1,SENSOR2,SENSOR3,SENSOR4,SENSOR5,SENSOR6,SENSOR7,SENSOR8,...,SENSOR15_S,SENSOR16_S,SENSOR17_S,SENSOR18_S,SENSOR19_S,SENSOR20_S,SENSOR21_S,SENSOR22_S,SENSOR23_S,SENSOR24_S
0,1,1,0.379162,0.647414,3.880380,3.875621,5.268301,2.558206,5.147154,2.313852,...,-0.170641,-0.398784,-0.532545,-0.412210,-0.264969,-0.229731,-0.611648,-0.713096,-0.692483,-0.922818
1,2,1,0.591498,0.510893,3.376670,3.465723,5.302984,2.577480,5.045021,2.491559,...,-0.192914,-0.431448,13.473459,-0.441247,-0.419468,-0.454487,-0.740543,-0.842507,-0.677038,-0.646557
2,3,1,-0.147400,0.426696,3.526220,3.416755,5.100899,2.951998,4.795645,2.707073,...,-0.106758,-0.340058,-0.403178,-0.416881,-0.348709,-0.299535,-0.364529,-0.691762,-0.739487,-0.761599
3,4,1,0.261763,0.291957,3.348035,3.897100,5.043396,2.695716,5.076779,2.316566,...,-0.312797,-0.463589,-0.158952,-0.374091,-0.390119,-0.532603,-0.366601,-0.609010,-0.472738,-0.648665
4,5,1,0.265247,0.395705,3.876277,3.770231,4.971883,2.749833,4.926769,2.620449,...,-0.186461,-0.328619,-0.553899,-0.175972,-0.253927,-0.362541,-0.501392,-0.681725,-0.644180,-0.729304

### 2-2

In [33]:
train_1 = df_1[df_1['SEQ'] % 4 != 0]
test_1 = df_1[df_1['SEQ'] % 4 == 0]

### 2-3

In [34]:
from sklearn.neighbors import KNeighborsClassifier

In [35]:
model_2 = KNeighborsClassifier(n_neighbors=2).fit(y=train_1['LABEL'], X=train_1.iloc[:, -24:])
model_3 = KNeighborsClassifier(n_neighbors=3).fit(y=train_1['LABEL'], X=train_1.iloc[:, -24:])
model_4 = KNeighborsClassifier(n_neighbors=4).fit(y=train_1['LABEL'], X=train_1.iloc[:, -24:])

In [36]:
pred_2 = model_2.predict(X=test_1.iloc[:, -24:])
pred_3 = model_3.predict(X=test_1.iloc[:, -24:])
pred_4 = model_4.predict(X=test_1.iloc[:, -24:])

### 2-4

In [37]:
from sklearn.metrics import accuracy_score

In [39]:
as_2 = accuracy_score(y_true=test_1['LABEL'], y_pred = pred_2)
as_3 = accuracy_score(y_true=test_1['LABEL'], y_pred = pred_3)
as_4 = accuracy_score(y_true=test_1['LABEL'], y_pred = pred_4)

In [40]:
as_2, as_3, as_4

(0.7947214076246334, 0.8049853372434017, 0.8005865102639296)

### Q2 Answer

In [41]:
round(0.8049853372434017 + 3, 3)

3.805

# Q3

### 3-1

In [78]:
df_3 = pd.read_csv('lv2-2305-4.csv')
df_3.head()

,SEQ,LABEL,SENSOR1,SENSOR2,SENSOR3,SENSOR4,SENSOR5,SENSOR6,SENSOR7,SENSOR8,...,SENSOR15,SENSOR16,SENSOR17,SENSOR18,SENSOR19,SENSOR20,SENSOR21,SENSOR22,SENSOR23,SENSOR24
0,1,1,0.379162,0.647414,3.880380,3.875621,5.268301,2.558206,5.147154,2.313852,...,1.919116,0.604807,0.260053,0.280056,0.666976,0.762952,0.199911,0.354782,0.374587,0.093596
1,2,1,0.591498,0.510893,3.376670,3.465723,5.302984,2.577480,5.045021,2.491559,...,1.872907,0.549273,21.071164,0.226999,0.372931,0.387560,0.015039,0.077376,0.402721,0.560322
2,3,1,-0.147400,0.426696,3.526220,3.416755,5.100899,2.951998,4.795645,2.707073,...,2.051653,0.704652,0.452275,0.271521,0.507600,0.646364,0.554347,0.400512,0.288968,0.365966
3,4,1,0.261763,0.291957,3.348035,3.897100,5.043396,2.695716,5.076779,2.316566,...,1.624188,0.494626,0.815164,0.349706,0.428787,0.257089,0.551376,0.577900,0.774861,0.556760
4,5,1,0.265247,0.395705,3.876277,3.770231,4.971883,2.749833,4.926769,2.620449,...,1.886296,0.724100,0.228323,0.711709,0.687992,0.541130,0.358048,0.422028,0.462574,0.420526

In [79]:
df_3.shape

(5456, 26)

In [80]:
iqr_arr = []
med_arr = []

for i in range(1,25):
    q1 = df_3['SENSOR' + str(i)].quantile(q = 0.25)
    q3 = df_3['SENSOR' + str(i)].quantile(q = 0.75)
    med = df_3['SENSOR' + str(i)].quantile(q = 0.5)
    iqr = q3 - q1
    iqr_arr.append(iqr)
    med_arr.append(med)

In [81]:
for i in range(24):
    df_3 = df_3[(df_3['SENSOR' + str(i + 1)] > med_arr[i] - 2.3 * iqr_arr[i]) & (df_3['SENSOR' + str(i + 1)] < med_arr[i] + 2.3 * iqr_arr[i])]

In [82]:
df_3.shape

(1710, 26)

### 3-2

In [83]:
train = df_3[df_3['SEQ'] % 3 != 0]
test = df_3[df_3['SEQ'] % 3 == 0]

### 3-3

In [85]:
from sklearn.tree import DecisionTreeClassifier

In [86]:
model = DecisionTreeClassifier(max_depth=5, random_state=1205).fit(y=train['LABEL'], X=train.iloc[:, -24:])

### 3-4

In [87]:
pred = model.predict(X=test.iloc[:, -24:])

In [88]:
from sklearn.metrics import accuracy_score

In [89]:
c = accuracy_score(y_true=test['LABEL'], y_pred=pred) * 100
c

78.63554757630162

### 3-5

In [62]:
fi_arr = model.feature_importances_

In [64]:
fi_df = pd.DataFrame(fi_arr, columns=['FI'])

In [65]:
fi_df

          FI
0   0.000000
1   0.006428
2   0.014608
3   0.120019
4   0.028417
5   0.044235
6   0.068595
7   0.049392
8   0.000000
9   0.000000
10  0.063882
11  0.077327
12  0.059388
13  0.018222
14  0.396747
15  0.012171
16  0.000000
17  0.000000
18  0.016465
19  0.000000
20  0.000000
21  0.014611
22  0.000000
23  0.009492

In [68]:
fi_df.sort_values(by='FI', ascending=False)

          FI
14  0.396747
3   0.120019
11  0.077327
6   0.068595
10  0.063882
12  0.059388
7   0.049392
5   0.044235
4   0.028417
13  0.018222
18  0.016465
21  0.014611
2   0.014608
15  0.012171
23  0.009492
1   0.006428
0   0.000000
8   0.000000
9   0.000000
16  0.000000
19  0.000000
17  0.000000
20  0.000000
22  0.000000

In [90]:
target = ['SENSOR15', 'SENSOR4', 'SENSOR12', 'SENSOR7', 'SENSOR11', 'SENSOR13']

In [91]:
model = DecisionTreeClassifier(max_depth=5, random_state=1205).fit(y=train['LABEL'], X=train.loc[:, target])

In [92]:
pred = model.predict(X=test.loc[:, target])

### 3-6

In [93]:
d = accuracy_score(y_true=test['LABEL'], y_pred=pred) * 100
d

78.27648114901257

In [94]:
abs(c-d)

0.3590664272890507

### Q3 Answer

In [95]:
round(abs(c-d), 3)

0.359