In [1]:
import pandas as pd
import numpy as np

In [2]:
JOB = pd.read_csv('lv2-2508.csv')
JOB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 6 columns):
E_ID            6000 non-null int64
JOB_CATEGORY    6000 non-null object
SALARY          6000 non-null int64
EXP_LEVEL       6000 non-null object
WORK_SETTING    6000 non-null object
COMP_SIZE       6000 non-null object
dtypes: int64(2), object(4)
memory usage: 281.4+ KB

In [3]:
print(np.sort(JOB['JOB_CATEGORY'].unique()))
print(np.sort(JOB['EXP_LEVEL'].unique()))
print(np.sort(JOB['WORK_SETTING'].unique()))
print(np.sort(JOB['COMP_SIZE'].unique()))

['A' 'B' 'C' 'D' 'E' 'F' 'G']
['Entrylevel' 'Executive' 'Midlevel' 'Senior']
['Inperson' 'Remote']
['L' 'M']

In [4]:
JOB.groupby(['EXP_LEVEL']).agg(CNT = ('E_ID','size'), SALARY = ('SALARY','mean')).reset_index()

    EXP_LEVEL   CNT         SALARY
0  Entrylevel   213  106906.023474
1   Executive   188  190840.170213
2    Midlevel   978  133009.296524
3      Senior  4621  169242.539710

# 21

21-1

In [5]:
DF11 = JOB[JOB['JOB_CATEGORY']=='A'].copy()
DF11.shape

(2008, 6)

21-2

In [6]:
sal_q1 = DF11['SALARY'].quantile(0.25)
sal_q3 = DF11['SALARY'].quantile(0.75)

21-3

In [7]:
DF12 = DF11.groupby(['EXP_LEVEL','WORK_SETTING','COMP_SIZE'])\
.agg(E_CNT=('E_ID', 'size'), SAL_AVG=('SALARY','mean')).reset_index()
DF12.shape

(13, 5)

21-4

In [8]:
DF_HIGH = DF12[DF12['SAL_AVG']>=sal_q3].copy()
DF_LOW = DF12[DF12['SAL_AVG']<=sal_q1].copy()

In [9]:
def avg_(DF_HIGH):
    g_avg = (DF_HIGH['SAL_AVG']*DF_HIGH['E_CNT']).sum()/DF_HIGH['E_CNT'].sum()
    return g_avg

In [10]:
res21 = np.abs(avg_(DF_HIGH) - avg_(DF_LOW))
ans21 = round(res21, 1)
print(res21)
print('ans21:', ans21)

94212.40165128703
ans21: 94212.4

# 22

In [11]:
df220 = JOB.copy()

22-1

In [12]:
df220['EXP'] = 'H'
df220.loc[df220['EXP_LEVEL'].isin(['Entrylevel','Midlevel']), 'EXP'] = 'L'

22-2

In [13]:
list_J = list(np.sort(df220['JOB_CATEGORY'].unique()))
list_coef = []

for j in list_J:
    n_h = np.sum((df220['JOB_CATEGORY']==j) & (df220['EXP']=='H'))
    n_l = np.sum((df220['JOB_CATEGORY']==j) & (df220['EXP']=='L'))
    m_h = df220.loc[(df220['JOB_CATEGORY']==j) & (df220['EXP']=='H'), 'SALARY'].mean()
    m_l = df220.loc[(df220['JOB_CATEGORY']==j) & (df220['EXP']=='L'), 'SALARY'].mean()
    s_h = df220.loc[(df220['JOB_CATEGORY']==j) & (df220['EXP']=='H'), 'SALARY'].std()
    s_l = df220.loc[(df220['JOB_CATEGORY']==j) & (df220['EXP']=='L'), 'SALARY'].std()
    
    list_coef.append(np.abs(m_h-m_l)/(((n_h*s_h)+(n_l*s_l))/(n_h+n_l)))

22-3

In [14]:
res22 = np.abs(np.max(list_coef) - np.min(list_coef))
ans22 = round(res22, 3)
print(res22)
print('ans22:', ans22)

0.32949868759299117
ans22: 0.329

# 23

In [15]:
DF30 = JOB.copy()

23-1

In [16]:
df_dum = pd.get_dummies(DF30.loc[:, ['JOB_CATEGORY','EXP_LEVEL','WORK_SETTING','COMP_SIZE']],\
              drop_first=True)
list_dum = list(df_dum.columns)
DF31 = pd.concat([DF30, df_dum], axis=1)
DF31

,E_ID,JOB_CATEGORY,SALARY,EXP_LEVEL,WORK_SETTING,COMP_SIZE,JOB_CATEGORY_B,JOB_CATEGORY_C,JOB_CATEGORY_D,JOB_CATEGORY_E,JOB_CATEGORY_F,JOB_CATEGORY_G,EXP_LEVEL_Executive,EXP_LEVEL_Midlevel,EXP_LEVEL_Senior,WORK_SETTING_Remote,COMP_SIZE_M
0,1,B,174350,Senior,Remote,M,1,0,0,0,0,0,0,0,1,1,1
1,2,B,155000,Senior,Inperson,M,1,0,0,0,0,0,0,0,1,0,1
2,3,B,120500,Senior,Remote,M,1,0,0,0,0,0,0,0,1,1,1
3,4,A,258000,Senior,Inperson,M,0,0,0,0,0,0,0,0,1,0,1
4,5,G,280100,Senior,Remote,M,0,0,0,0,0,1,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,5996,C,150000,Midlevel,Remote,M,0,1,0,0,0,0,0,1,0,1,1
5996,5997,B,150000,Senior,Inperson,M,1,0,0,0,0,0,0,0,1,0,1
5997,5998,A,130000,Senior,Remote,M,0,0,0,0,0,0,0,0,1,1,1
5998,5999,E,73500,Midlevel,Inperson,M,0,0,0,1,0,0,0,1,0,0,1
5999,6000,C,175000,Senior,Inperson,M,0,1,0,0,0,0,0,0,1,0,1

23-2

In [17]:
train30 = DF31[DF31['E_ID']%5!=0].copy()
test30 = DF31[DF31['E_ID']%5==0].copy()
print(train30.shape, test30.shape)

(4800, 17) (1200, 17)

23-3

In [18]:
train31 = train30.copy()

In [19]:
q1 = train31['SALARY'].quantile(0.25)
q3 = train31['SALARY'].quantile(0.75)
iqr = q3 - q1
train31 = train31[(train31['SALARY']>=q1 - 1.5*iqr) & (train31['SALARY']<=q3 + 1.5*iqr)]
train31.shape

(4729, 17)

23-4

In [20]:
from sklearn.tree import DecisionTreeRegressor
dt00 = DecisionTreeRegressor(random_state=1234, max_depth=4, min_samples_split=100)
dt00.fit(train31.loc[:, list_dum], train31['SALARY'])

DecisionTreeRegressor(criterion='mse', max_depth=4, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=100, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1234, splitter='best')

23-5

In [21]:
arr_pred = dt00.predict(test30.loc[:, list_dum])
arr_act = np.array(test30['SALARY'])
res23 = np.sqrt(np.mean((arr_pred-arr_act)**2))
ans23 = round(res23, 2)
print(res23)
print('ans23:', ans23)

55212.83184737423
ans23: 55212.83

# SUMMARY

In [22]:
print('ans21:',ans21)
print('ans22:',ans22)
print('ans23:',ans23)

ans21: 94212.4
ans22: 0.329
ans23: 55212.83