In [1]:
import pandas as pd

In [2]:
CULTURE = pd.read_csv('lv2-2506.csv')

In [3]:
CULTURE.shape

(1500, 11)

In [4]:
CULTURE.head()

   C_ID   NEMP  DNEMP  IRATIO  FRATIO    S1    S2    S3    S4    S5  SCORE
0     1  20965   10.6      42      48  92.3  99.7  99.0  74.9  96.2   96.4
1     2  21887    9.6      25      50  94.8  99.0  99.3  49.5  80.5   95.2
2     3  20185   11.3      39      47  90.9  99.5  97.0  54.2  95.8   94.8
3     4  16164    7.1      24      46  94.2  96.7  99.8  65.0  79.8   94.8
4     5  11415    8.2      33      40  90.7  93.6  99.8  90.9  89.3   94.2

# Q24

In [5]:
df_24 = CULTURE.copy()

# 24-1

In [6]:
from scipy.stats import pearsonr

In [17]:
rates = []
targets = ['S1', 'S2', 'S3', 'S4', 'S5']

for target in targets:
    arr = df_24[target]
    rates.append(abs(pearsonr(arr, df_24['SCORE'])[0]))

In [18]:
rates

[0.8095041409087617,
 0.8616969285101895,
 0.8501398032884084,
 0.4254112728862212,
 0.6296732590908278]

In [19]:
max(rates)

0.8616969285101895

In [21]:
VAR24 = 'S2'

# 24-2

In [23]:
A4 = df_24['IRATIO'].mean()
A4

10.095333333333333

In [28]:
df_24.head()

   C_ID   NEMP  DNEMP  IRATIO  FRATIO    S1    S2    S3    S4    S5  SCORE
0     1  20965   10.6      42      48  92.3  99.7  99.0  74.9  96.2   96.4
1     2  21887    9.6      25      50  94.8  99.0  99.3  49.5  80.5   95.2
2     3  20185   11.3      39      47  90.9  99.5  97.0  54.2  95.8   94.8
3     4  16164    7.1      24      46  94.2  96.7  99.8  65.0  79.8   94.8
4     5  11415    8.2      33      40  90.7  93.6  99.8  90.9  89.3   94.2

In [47]:
df_24['IHIGH'] = (df_24['IRATIO'] > A4) + 0

In [48]:
df_24.head()

,C_ID,NEMP,DNEMP,IRATIO,FRATIO,S1,S2,S3,S4,S5,SCORE,IHIGH
0,1,20965,10.6,42,48,92.3,99.7,99.0,74.9,96.2,96.4,1
1,2,21887,9.6,25,50,94.8,99.0,99.3,49.5,80.5,95.2,1
2,3,20185,11.3,39,47,90.9,99.5,97.0,54.2,95.8,94.8,1
3,4,16164,7.1,24,46,94.2,96.7,99.8,65.0,79.8,94.8,1
4,5,11415,8.2,33,40,90.7,93.6,99.8,90.9,89.3,94.2,1

In [49]:
df_24['IHIGH'].value_counts()

0    988
1    512
Name: IHIGH, dtype: int64

# 24-3

In [44]:
df_high = df_24[df_24['IHIGH'] == 1]
df_high.shape

(512, 12)

In [45]:
df_low = df_24[df_24['IHIGH'] == 0]
df_low.shape

(988, 12)

In [51]:
B4 = abs(pearsonr(df_high[VAR24], df_high['SCORE'])[0])
B4

0.9114765535264766

In [52]:
C4 = abs(pearsonr(df_low[VAR24], df_low['SCORE'])[0])
C4

0.6860248066670729

In [53]:
D4 = abs(B4 - C4)

# Q24 Answer

In [54]:
print(round(D4, 3))

0.225

# Q25

In [89]:
df_25 = CULTURE.copy()

In [90]:
df_25.shape

(1500, 11)

In [91]:
df_25.head()

   C_ID   NEMP  DNEMP  IRATIO  FRATIO    S1    S2    S3    S4    S5  SCORE
0     1  20965   10.6      42      48  92.3  99.7  99.0  74.9  96.2   96.4
1     2  21887    9.6      25      50  94.8  99.0  99.3  49.5  80.5   95.2
2     3  20185   11.3      39      47  90.9  99.5  97.0  54.2  95.8   94.8
3     4  16164    7.1      24      46  94.2  96.7  99.8  65.0  79.8   94.8
4     5  11415    8.2      33      40  90.7  93.6  99.8  90.9  89.3   94.2

# 25-1

In [92]:
DF25 = df_25[df_25['FRATIO'] != -999]

In [93]:
DF25.shape

(1442, 11)

# 25-2

In [94]:
DF25.columns

Index(['C_ID', 'NEMP', 'DNEMP', 'IRATIO', 'FRATIO', 'S1', 'S2', 'S3', 'S4',
       'S5', 'SCORE'],
      dtype='object')

In [95]:
targets = ['NEMP', 'DNEMP','IRATIO', 'FRATIO', 'S1', 'S2', 'S3', 'S4', 'S5']

In [96]:
from sklearn.preprocessing import StandardScaler

In [97]:
for target in targets:
    value = StandardScaler().fit_transform(X=DF25[[target]])
    DF25[ target + '_S'] = value

c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [98]:
DF25.head()

,C_ID,NEMP,DNEMP,IRATIO,FRATIO,S1,S2,S3,S4,S5,SCORE,NEMP_S,DNEMP_S,IRATIO_S,FRATIO_S,S1_S,S2_S,S3_S,S4_S,S5_S
0,1,20965,10.6,42,48,92.3,99.7,99.0,74.9,96.2,96.4,0.045440,-0.807661,2.691656,-0.228620,5.130781,4.813072,1.842557,2.157451,2.273284
1,2,21887,9.6,25,50,94.8,99.0,99.3,49.5,80.5,95.2,0.106316,-0.911028,1.255958,-0.070315,5.325669,4.769630,1.853517,0.285197,1.558765
2,3,20185,11.3,39,47,90.9,99.5,97.0,54.2,95.8,94.8,-0.006060,-0.735304,2.438298,-0.307773,5.021644,4.800660,1.769486,0.631638,2.255080
3,4,16164,7.1,24,46,94.2,96.7,99.8,65.0,79.8,94.8,-0.271552,-1.169445,1.171505,-0.386925,5.278896,4.626893,1.871785,1.427714,1.526908
4,5,11415,8.2,33,40,90.7,93.6,99.8,90.9,89.3,94.2,-0.585110,-1.055741,1.931581,-0.861841,5.006053,4.434509,1.871785,3.336824,1.959260

# 25-3

In [99]:
targets = ['NEMP_S', 'DNEMP_S', 'IRATIO_S', 'FRATIO_S', 'S1_S', 'S2_S', 'S3_S', 'S4_S', 'S5_S']

In [100]:
targets

['NEMP_S',
 'DNEMP_S',
 'IRATIO_S',
 'FRATIO_S',
 'S1_S',
 'S2_S',
 'S3_S',
 'S4_S',
 'S5_S']

In [101]:
for target in targets:
    DF25 = DF25[(DF25[target] <= 3) & (DF25[target] >= -3)]

In [102]:
DF25.shape

(1285, 20)

# 25-4

In [103]:
from sklearn.cluster import KMeans

In [104]:
targets

['NEMP_S',
 'DNEMP_S',
 'IRATIO_S',
 'FRATIO_S',
 'S1_S',
 'S2_S',
 'S3_S',
 'S4_S',
 'S5_S']

In [105]:
model = KMeans(n_clusters=3, random_state=1234).fit(X=DF25.loc[:, targets])

In [106]:
DF25['LABEL'] = model.predict(X=DF25.loc[:, targets])

# 25-5

In [107]:
DF25.groupby('LABEL')['SCORE'].mean()

LABEL
0    46.624328
1    27.641195
2    23.994411
Name: SCORE, dtype: float64

In [108]:
max(DF25.groupby('LABEL')['SCORE'].mean())

46.624328358208956

# Q25 Answer

In [109]:
round(max(DF25.groupby('LABEL')['SCORE'].mean()), 2)

46.62

# Q 26

In [110]:
df_26 = CULTURE.copy()

In [111]:
df_26.shape

(1500, 11)

In [112]:
df_26.head()

   C_ID   NEMP  DNEMP  IRATIO  FRATIO    S1    S2    S3    S4    S5  SCORE
0     1  20965   10.6      42      48  92.3  99.7  99.0  74.9  96.2   96.4
1     2  21887    9.6      25      50  94.8  99.0  99.3  49.5  80.5   95.2
2     3  20185   11.3      39      47  90.9  99.5  97.0  54.2  95.8   94.8
3     4  16164    7.1      24      46  94.2  96.7  99.8  65.0  79.8   94.8
4     5  11415    8.2      33      40  90.7  93.6  99.8  90.9  89.3   94.2

# 26-1

In [113]:
TRAIN26 = df_26[df_26['C_ID'] % 5 != 0]
TEST26 = df_26[df_26['C_ID'] % 5 == 0]

In [114]:
TRAIN26.shape

(1200, 11)

In [115]:
TEST26.shape

(300, 11)

# 26-2

In [116]:
tmp = TRAIN26[TRAIN26['FRATIO'] != -999]
tmp.shape

(1151, 11)

In [118]:
A6 = tmp['FRATIO'].mean()
A6

50.7393570807993

In [121]:
TRAIN26['FRATIO'] = TRAIN26['FRATIO'].map(lambda x: A6 if (x == -999) else x)

c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [124]:
tmp = TRAIN26[TRAIN26['FRATIO'] != -999]
tmp.shape

(1200, 11)

In [126]:
TEST26['FRATIO'] = TEST26['FRATIO'].map(lambda x: A6 if (x == -999) else x)

c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [128]:
tmp = TEST26[TEST26['FRATIO'] != -999]
tmp.shape

(300, 11)

# 26-3

In [130]:
TRAIN26.columns

Index(['C_ID', 'NEMP', 'DNEMP', 'IRATIO', 'FRATIO', 'S1', 'S2', 'S3', 'S4',
       'S5', 'SCORE'],
      dtype='object')

In [131]:
targets = ['NEMP', 'DNEMP', 'IRATIO', 'FRATIO', 'S1', 'S2', 'S3', 'S4','S5']

In [132]:
from sklearn.preprocessing import MinMaxScaler

In [135]:
for target in targets:
    model = MinMaxScaler().fit(X=TRAIN26[[target]])
    TRAIN26[target + '_N'] = model.transform(X=TRAIN26[[target]])
    TEST26[target + '_N'] = model.transform(X=TEST26[[target]])

c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\eunsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [136]:
TEST26.head()

,C_ID,NEMP,DNEMP,IRATIO,FRATIO,S1,S2,S3,S4,S5,SCORE,NEMP_N,DNEMP_N,IRATIO_N,FRATIO_N,S1_N,S2_N,S3_N,S4_N,S5_N
4,5,11415,8.2,33,40.0,90.7,93.6,99.8,90.9,89.3,94.2,0.122002,0.073293,0.397590,0.387755,0.950721,0.933911,0.997959,0.855784,0.880562
9,10,18545,11.2,61,40.0,82.8,90.8,98.3,59.8,97.5,90.4,0.201617,0.103414,0.734940,0.387755,0.855769,0.903575,0.982653,0.362916,0.976581
14,15,17584,4.7,29,53.0,79.4,91.5,97.0,89.5,75.3,88.3,0.190886,0.038153,0.349398,0.520408,0.814904,0.911159,0.969388,0.833597,0.716628
19,20,45912,8.2,17,50.0,79.3,84.6,93.6,48.7,59.2,82.9,0.507202,0.073293,0.204819,0.489796,0.813702,0.836403,0.934694,0.187005,0.528103
24,25,14305,12.9,47,44.0,65.4,81.8,98.7,55.2,80.1,81.1,0.154272,0.120482,0.566265,0.428571,0.646635,0.806067,0.986735,0.290016,0.772834

In [137]:
TRAIN26.head()

,C_ID,NEMP,DNEMP,IRATIO,FRATIO,S1,S2,S3,S4,S5,SCORE,NEMP_N,DNEMP_N,IRATIO_N,FRATIO_N,S1_N,S2_N,S3_N,S4_N,S5_N
0,1,20965,10.6,42,48.0,92.3,99.7,99.0,74.9,96.2,96.4,0.228639,0.097390,0.506024,0.469388,0.969952,1.000000,0.989796,0.602219,0.961358
1,2,21887,9.6,25,50.0,94.8,99.0,99.3,49.5,80.5,95.2,0.238934,0.087349,0.301205,0.489796,1.000000,0.992416,0.992857,0.199683,0.777518
2,3,20185,11.3,39,47.0,90.9,99.5,97.0,54.2,95.8,94.8,0.219929,0.104418,0.469880,0.459184,0.953125,0.997833,0.969388,0.274168,0.956674
3,4,16164,7.1,24,46.0,94.2,96.7,99.8,65.0,79.8,94.8,0.175030,0.062249,0.289157,0.448980,0.992788,0.967497,0.997959,0.445325,0.769321
5,6,2237,6.2,34,37.0,90.9,97.0,97.3,89.8,83.6,94.1,0.019519,0.053213,0.409639,0.357143,0.953125,0.970748,0.972449,0.838352,0.813817

# 26-4

In [138]:
from sklearn.neighbors import KNeighborsRegressor

In [140]:
targets = ['NEMP_N', 'DNEMP_N', 'IRATIO_N', 'FRATIO_N', 'S1_N', 'S2_N', 'S3_N', 'S4_N', 'S5_N']

In [141]:
targets

['NEMP_N',
 'DNEMP_N',
 'IRATIO_N',
 'FRATIO_N',
 'S1_N',
 'S2_N',
 'S3_N',
 'S4_N',
 'S5_N']

In [142]:
model = KNeighborsRegressor(n_neighbors=9).fit(y=TRAIN26['SCORE'], X=TRAIN26.loc[:, targets])

In [143]:
pred = model.predict(X=TEST26.loc[:, targets])

# 26-5

In [144]:
from sklearn.metrics import mean_absolute_error

In [145]:
mae = mean_absolute_error(y_true=TEST26['SCORE'], y_pred = pred)
mae

1.981203703703704

# Q26 Answer

In [146]:
print(round(mae, 3))

1.981