In [1]:
import pandas as pd
from scipy.stats import pearsonr
from scipy.stats import spearmanr
from scipy.stats import kendalltau

In [2]:
df = pd.read_csv('bike.csv')

In [3]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [5]:
df.corr(numeric_only=True)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
season,1.000000,0.029368,-0.008126,0.008879,0.258689,0.264744,0.190610,-0.147121,0.096758,0.164011,0.163439
holiday,0.029368,1.000000,-0.250491,-0.007074,0.000295,-0.005215,0.001929,0.008409,0.043799,-0.020956,-0.005393
workingday,-0.008126,-0.250491,1.000000,0.033772,0.029966,0.024660,-0.010880,0.013373,-0.319111,0.119460,0.011594
weather,0.008879,-0.007074,0.033772,1.000000,-0.055035,-0.055376,0.406244,0.007261,-0.135918,-0.109340,-0.128655
temp,0.258689,0.000295,0.029966,-0.055035,1.000000,0.984948,-0.064949,-0.017852,0.467097,0.318571,0.394454
atemp,0.264744,-0.005215,0.024660,-0.055376,0.984948,1.000000,-0.043536,-0.057473,0.462067,0.314635,0.389784
humidity,0.190610,0.001929,-0.010880,0.406244,-0.064949,-0.043536,1.000000,-0.318607,-0.348187,-0.265458,-0.317371
windspeed,-0.147121,0.008409,0.013373,0.007261,-0.017852,-0.057473,-0.318607,1.000000,0.092276,0.091052,0.101369
casual,0.096758,0.043799,-0.319111,-0.135918,0.467097,0.462067,-0.348187,0.092276,1.000000,0.497250,0.690414
registered,0.164011,-0.020956,0.119460,-0.109340,0.318571,0.314635,-0.265458,0.091052,0.497250,1.000000,0.970948
count,0.163439,-0.005393,0.011594,-0.128655,0.394454,0.389784,-0.317371,0.101369,0.690414,0.970948,1.000000

In [8]:
df[['casual', 'registered', 'count']].corr().round(2)

            casual  registered  count
casual        1.00        0.50   0.69
registered    0.50        1.00   0.97
count         0.69        0.97   1.00

In [9]:
df[['casual', 'registered', 'count']].corr(method='spearman').round(2)

            casual  registered  count
casual        1.00        0.78   0.85
registered    0.78        1.00   0.99
count         0.85        0.99   1.00

In [10]:
pearsonr(df['casual'], df['registered'])

PearsonRResult(statistic=np.float64(0.4972496850870081), pvalue=np.float64(0.0))

In [11]:
stat, p = pearsonr(df['casual'], df['registered'])

In [12]:
print(stat, p)

0.4972496850870081 0.0

# Q1

In [15]:
import pandas as pd
from scipy.stats import pearsonr

In [16]:
df_q1 = pd.read_csv('bike.csv')
df_q1.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [21]:
df_q1[['temp', 'atemp', 'humidity', 'casual']].corr().round(2)

          temp  atemp  humidity  casual
temp      1.00   0.98     -0.06    0.47
atemp     0.98   1.00     -0.04    0.46
humidity -0.06  -0.04      1.00   -0.35
casual    0.47   0.46     -0.35    1.00

# Q2

In [22]:
import pandas as pd
from scipy.stats import pearsonr

In [23]:
df_q2 = pd.read_csv('bike.csv')
df_q2.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [34]:
df_q2_sum = df_q2[['season', 'atemp', 'casual']]

In [42]:
for i in range(1, 5):   
    print(df_q2_sum[df_q2_sum['season'] == i][['atemp', 'casual']].corr().round(3))

        atemp  casual
atemp   1.000   0.478
casual  0.478   1.000
        atemp  casual
atemp   1.000   0.378
casual  0.378   1.000
        atemp  casual
atemp   1.000   0.381
casual  0.381   1.000
        atemp  casual
atemp   1.000   0.444
casual  0.444   1.000

In [51]:
df_corr = df_q2[['season', 'atemp', 'casual']].groupby('season').corr().reset_index()

In [52]:
df_corr.head()

   season level_1     atemp    casual
0       1   atemp  1.000000  0.478312
1       1  casual  0.478312  1.000000
2       2   atemp  1.000000  0.378122
3       2  casual  0.378122  1.000000
4       3   atemp  1.000000  0.381423

In [61]:
df_corr = df_corr[df_corr['level_1'] == 'casual'].reset_index()

In [62]:
df_corr.head()

   index  season level_1     atemp  casual
0      1       1  casual  0.478312     1.0
1      3       2  casual  0.378122     1.0
2      5       3  casual  0.381423     1.0
3      7       4  casual  0.443751     1.0

In [63]:
df_corr.sort_values('atemp')

   index  season level_1     atemp  casual
1      3       2  casual  0.378122     1.0
2      5       3  casual  0.381423     1.0
3      7       4  casual  0.443751     1.0
0      1       1  casual  0.478312     1.0

# Q3

In [75]:
import pandas as pd
from scipy.stats import pearsonr

In [76]:
df_q3 = pd.read_csv('bike.csv')

In [77]:
df_q3.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [78]:
df_q3.groupby('weather')[['temp', 'casual']].corr().round(3)

                 temp  casual
weather
1       temp    1.000   0.471
        casual  0.471   1.000
2       temp    1.000   0.457
        casual  0.457   1.000
3       temp    1.000   0.421
        casual  0.421   1.000
4       temp      NaN     NaN
        casual    NaN     NaN

In [79]:
df_q3.groupby('weather').count()

,datetime,season,holiday,workingday,temp,atemp,humidity,windspeed,casual,registered,count
weather,,,,,,,,,,,
1,7192,7192,7192,7192,7192,7192,7192,7192,7192,7192,7192
2,2834,2834,2834,2834,2834,2834,2834,2834,2834,2834,2834
3,859,859,859,859,859,859,859,859,859,859,859
4,1,1,1,1,1,1,1,1,1,1,1