In [1]:
import pandas as pd

In [25]:
df = pd.read_csv('iris_missing.csv')
df.head(7)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [26]:
df_na = df.head(7)
df_na

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [27]:
df_na['Sepal_Length'].isna()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
Name: Sepal_Length, dtype: bool

In [28]:
df_na['Sepal_Length'].isna().sum()

np.int64(1)

In [29]:
df_na.isna()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
0         False         True          True        False    False
1         False        False         False        False    False
2         False        False         False        False     True
3         False        False         False        False    False
4         False        False         False        False     True
5         False        False         False        False    False
6          True         True          True         True    False

In [30]:
df_na.isna().sum() # 각 변수별 결측치

Sepal_Length    1
Sepal_Width     2
Petal_Length    2
Petal_Width     1
Species         2
dtype: int64

In [31]:
df_na.isna().sum(axis=1) # 각 row별 결측치 개수

0    2
1    0
2    1
3    0
4    1
5    0
6    4
dtype: int64

In [32]:
df_na.fillna({'Sepal_Length': 999})

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6         999.0          NaN           NaN          NaN  setosa

In [33]:
df_na.fillna({'Sepal_Length': 999, 'Sepal_Width': 999})

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1        999.0           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6         999.0        999.0           NaN          NaN  setosa

In [34]:
df_na

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [35]:
df_na.fillna(999)

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1        999.0         999.0          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     999
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     999
5           5.4          3.9           1.7          0.4  setosa
6         999.0        999.0         999.0        999.0  setosa

In [36]:
df_na['Sepal_Width'].mean()

np.float64(3.3600000000000003)

In [37]:
df_na = df_na.fillna({'Sepal_Width': df_na['Sepal_Width'].mean()})

In [38]:
df_na

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1         3.36           NaN          0.2  setosa
1           4.9         3.00           1.4          0.2  setosa
2           4.7         3.20           1.3          0.2     NaN
3           4.6         3.10           1.5          0.2  setosa
4           5.0         3.60           1.4          0.2     NaN
5           5.4         3.90           1.7          0.4  setosa
6           NaN         3.36           NaN          NaN  setosa

In [39]:
df_na2 = df.head(7)

In [41]:
df_na2

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [42]:
df_na2.dropna()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
1           4.9          3.0           1.4          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [43]:
df_na2.iloc[1]

Sepal_Length       4.9
Sepal_Width        3.0
Petal_Length       1.4
Petal_Width        0.2
Species         setosa
Name: 1, dtype: object

In [45]:
df_na2.iloc[1,1]

np.float64(3.0)

In [46]:
df_na2.loc[1]

Sepal_Length       4.9
Sepal_Width        3.0
Petal_Length       1.4
Petal_Width        0.2
Species         setosa
Name: 1, dtype: object

In [48]:
df_na2.loc[1, 'Sepal_Length']

np.float64(4.9)

In [49]:
df_na2.iloc[:]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [50]:
df_na2.iloc[:,:]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          NaN           NaN          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2     NaN
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2     NaN
5           5.4          3.9           1.7          0.4  setosa
6           NaN          NaN           NaN          NaN  setosa

In [52]:
df_na2.iloc[:,:-1]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0           5.1          NaN           NaN          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           NaN          NaN           NaN          NaN

In [53]:
df_na2.iloc[:, :-1].dropna(how = 'all')

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0           5.1          NaN           NaN          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4

In [54]:
print(df['Sepal_Length'].min())
print(df['Sepal_Length'].max())
print(df['Sepal_Length'].mean())

4.3
7.9
5.8538461538461535

In [55]:
df['Sepal_Length'].median()

np.float64(5.8)

In [57]:
df['Sepal_Length'].quantile() # default q = 0.5

np.float64(5.8)

In [60]:
print(df['Sepal_Length'].quantile(q=0.25))
print(df['Sepal_Length'].quantile(q=0.5))
print(df['Sepal_Length'].quantile(q=0.75))

5.1
5.8
6.4

# Q1: 각 수치형 변수의 결측치 개수 총합

In [65]:
df.iloc[:,:-1].isna().sum().sum()

np.int64(40)

# Q2 Sepal_Width 변수의 결측치를 평균으로 대치한 값의 분산은?

In [66]:
df_q2 = df

In [67]:
df_q2 = df_q2.fillna({'Sepal_Width': df_q2['Sepal_Width'].mean()})

In [68]:
df_q2['Sepal_Width'].var()

np.float64(0.17561945818840935)

# Q3

In [69]:
df_q3 = pd.read_csv('iris.csv')

In [70]:
df_q3.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [72]:
q3_sl_mean = df_q3['Sepal.Length'].mean()
q3_sl_std = df_q3['Sepal.Length'].std()
print(q3_sl_mean)
print(q3_sl_std)

5.843333333333334
0.828066127977863

In [75]:
cond1 = df_q3['Sepal.Length'] < (q3_sl_mean - 1.5 * q3_sl_std)
cond2 = df_q3['Sepal.Length'] > (q3_sl_mean + 1.5 * q3_sl_std)

In [76]:
cond1

0      False
1      False
2      False
3       True
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Name: Sepal.Length, Length: 150, dtype: bool

In [77]:
df_out = df_q3.loc[cond1 | cond2]

In [78]:
len(df_out)

21