In [1]:
import pandas as pd

In [3]:
dia = pd.read_csv('diamonds.csv')

In [4]:
dia.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [5]:
pd.crosstab(dia['cut'], dia['clarity'])

clarity     I1    IF   SI1   SI2   VS1   VS2  VVS1  VVS2
cut
Fair       210     9   408   466   170   261    17    69
Good        96    71  1560  1081   648   978   186   286
Ideal      146  1212  4282  2598  3589  5071  2047  2606
Premium    205   230  3575  2949  1989  3357   616   870
Very Good   84   268  3240  2100  1775  2591   789  1235

In [8]:
dia_sub = dia.loc[(dia['cut'] == 'Good') & (dia['clarity'] == 'IF')]
len(dia_sub)

71

In [10]:
sum((dia['cut'] == 'Good') & (dia['clarity'] == 'IF'))

71

In [11]:
pd.crosstab(dia['cut'], dia['clarity'], normalize=True)

clarity,I1,IF,SI1,SI2,VS1,VS2,VVS1,VVS2
cut,,,,,,,,
Fair,0.003893,0.000167,0.007564,0.008639,0.003152,0.004839,0.000315,0.001279
Good,0.001780,0.001316,0.028921,0.020041,0.012013,0.018131,0.003448,0.005302
Ideal,0.002707,0.022469,0.079385,0.048165,0.066537,0.094012,0.037950,0.048313
Premium,0.003801,0.004264,0.066277,0.054672,0.036874,0.062236,0.011420,0.016129
Very Good,0.001557,0.004968,0.060067,0.038932,0.032907,0.048035,0.014627,0.022896

In [13]:
pd.crosstab(dia['cut'], dia['clarity'], normalize=True).round(2)

clarity     I1    IF   SI1   SI2   VS1   VS2  VVS1  VVS2
cut
Fair       0.0  0.00  0.01  0.01  0.00  0.00  0.00  0.00
Good       0.0  0.00  0.03  0.02  0.01  0.02  0.00  0.01
Ideal      0.0  0.02  0.08  0.05  0.07  0.09  0.04  0.05
Premium    0.0  0.00  0.07  0.05  0.04  0.06  0.01  0.02
Very Good  0.0  0.00  0.06  0.04  0.03  0.05  0.01  0.02

In [14]:
(pd.crosstab(dia['cut'], dia['clarity'], normalize=True) * 100).round(2)

clarity      I1    IF   SI1   SI2   VS1   VS2  VVS1  VVS2
cut
Fair       0.39  0.02  0.76  0.86  0.32  0.48  0.03  0.13
Good       0.18  0.13  2.89  2.00  1.20  1.81  0.34  0.53
Ideal      0.27  2.25  7.94  4.82  6.65  9.40  3.79  4.83
Premium    0.38  0.43  6.63  5.47  3.69  6.22  1.14  1.61
Very Good  0.16  0.50  6.01  3.89  3.29  4.80  1.46  2.29

In [17]:
pd.crosstab(dia['cut'], dia['clarity'], values=dia['price'], aggfunc='mean')

clarity,I1,IF,SI1,SI2,VS1,VS2,VVS1,VVS2
cut,,,,,,,,
Fair,3703.533333,1912.333333,4208.279412,5173.916309,4165.141176,4174.724138,3871.352941,3349.768116
Good,3596.635417,4098.323944,3689.533333,4580.260870,3801.445988,4262.236196,2254.774194,3079.108392
Ideal,4335.726027,2272.913366,3752.118169,4755.952656,3489.744497,3284.550385,2468.129458,3250.290100
Premium,3947.331707,3856.143478,4455.269371,5545.936928,4485.462041,4550.331248,2831.206169,3795.122989
Very Good,4078.226190,4396.216418,3932.391049,4988.688095,3805.353239,4215.759552,2459.441065,3037.765182

In [21]:
dia.groupby(['cut', 'clarity'])['price'].mean().round(2).reset_index()

          cut clarity    price
0        Fair      I1  3703.53
1        Fair      IF  1912.33
2        Fair     SI1  4208.28
3        Fair     SI2  5173.92
4        Fair     VS1  4165.14
5        Fair     VS2  4174.72
6        Fair    VVS1  3871.35
7        Fair    VVS2  3349.77
8        Good      I1  3596.64
9        Good      IF  4098.32
10       Good     SI1  3689.53
11       Good     SI2  4580.26
12       Good     VS1  3801.45
13       Good     VS2  4262.24
14       Good    VVS1  2254.77
15       Good    VVS2  3079.11
16      Ideal      I1  4335.73
17      Ideal      IF  2272.91
18      Ideal     SI1  3752.12
19      Ideal     SI2  4755.95
20      Ideal     VS1  3489.74
21      Ideal     VS2  3284.55
22      Ideal    VVS1  2468.13
23      Ideal    VVS2  3250.29
24    Premium      I1  3947.33
25    Premium      IF  3856.14
26    Premium     SI1  4455.27
27    Premium     SI2  5545.94
28    Premium     VS1  4485.46
29    Premium     VS2  4550.33
30    Premium    VVS1  2831.21
31    Premium    VVS2  3795.12
32  Very Good      I1  4078.23
33  Very Good      IF  4396.22
34  Very Good     SI1  3932.39
35  Very Good     SI2  4988.69
36  Very Good     VS1  3805.35
37  Very Good     VS2  4215.76
38  Very Good    VVS1  2459.44
39  Very Good    VVS2  3037.77

In [22]:
dia_agg = dia.groupby(['cut', 'clarity'])['price'].mean().reset_index()

In [23]:
dia_agg.head()

    cut clarity        price
0  Fair      I1  3703.533333
1  Fair      IF  1912.333333
2  Fair     SI1  4208.279412
3  Fair     SI2  5173.916309
4  Fair     VS1  4165.141176

In [24]:
dia_agg.sort_values('price')

          cut clarity        price
1        Fair      IF  1912.333333
14       Good    VVS1  2254.774194
17      Ideal      IF  2272.913366
38  Very Good    VVS1  2459.441065
22      Ideal    VVS1  2468.129458
30    Premium    VVS1  2831.206169
39  Very Good    VVS2  3037.765182
15       Good    VVS2  3079.108392
23      Ideal    VVS2  3250.290100
21      Ideal     VS2  3284.550385
7        Fair    VVS2  3349.768116
20      Ideal     VS1  3489.744497
8        Good      I1  3596.635417
10       Good     SI1  3689.533333
0        Fair      I1  3703.533333
18      Ideal     SI1  3752.118169
31    Premium    VVS2  3795.122989
12       Good     VS1  3801.445988
36  Very Good     VS1  3805.353239
25    Premium      IF  3856.143478
6        Fair    VVS1  3871.352941
34  Very Good     SI1  3932.391049
24    Premium      I1  3947.331707
32  Very Good      I1  4078.226190
9        Good      IF  4098.323944
4        Fair     VS1  4165.141176
5        Fair     VS2  4174.724138
2        Fair     SI1  4208.279412
37  Very Good     VS2  4215.759552
13       Good     VS2  4262.236196
16      Ideal      I1  4335.726027
33  Very Good      IF  4396.216418
26    Premium     SI1  4455.269371
28    Premium     VS1  4485.462041
29    Premium     VS2  4550.331248
11       Good     SI2  4580.260870
19      Ideal     SI2  4755.952656
35  Very Good     SI2  4988.688095
3        Fair     SI2  5173.916309
27    Premium     SI2  5545.936928

In [25]:
dia_agg.sort_values('price', ascending=False)

          cut clarity        price
27    Premium     SI2  5545.936928
3        Fair     SI2  5173.916309
35  Very Good     SI2  4988.688095
19      Ideal     SI2  4755.952656
11       Good     SI2  4580.260870
29    Premium     VS2  4550.331248
28    Premium     VS1  4485.462041
26    Premium     SI1  4455.269371
33  Very Good      IF  4396.216418
16      Ideal      I1  4335.726027
13       Good     VS2  4262.236196
37  Very Good     VS2  4215.759552
2        Fair     SI1  4208.279412
5        Fair     VS2  4174.724138
4        Fair     VS1  4165.141176
9        Good      IF  4098.323944
32  Very Good      I1  4078.226190
24    Premium      I1  3947.331707
34  Very Good     SI1  3932.391049
6        Fair    VVS1  3871.352941
25    Premium      IF  3856.143478
36  Very Good     VS1  3805.353239
12       Good     VS1  3801.445988
31    Premium    VVS2  3795.122989
18      Ideal     SI1  3752.118169
0        Fair      I1  3703.533333
10       Good     SI1  3689.533333
8        Good      I1  3596.635417
20      Ideal     VS1  3489.744497
7        Fair    VVS2  3349.768116
21      Ideal     VS2  3284.550385
23      Ideal    VVS2  3250.290100
15       Good    VVS2  3079.108392
39  Very Good    VVS2  3037.765182
30    Premium    VVS1  2831.206169
22      Ideal    VVS1  2468.129458
38  Very Good    VVS1  2459.441065
17      Ideal      IF  2272.913366
14       Good    VVS1  2254.774194
1        Fair      IF  1912.333333

In [26]:
dia_agg.sort_values(['cut', 'price'], ascending=[True, False])

          cut clarity        price
3        Fair     SI2  5173.916309
2        Fair     SI1  4208.279412
5        Fair     VS2  4174.724138
4        Fair     VS1  4165.141176
6        Fair    VVS1  3871.352941
0        Fair      I1  3703.533333
7        Fair    VVS2  3349.768116
1        Fair      IF  1912.333333
11       Good     SI2  4580.260870
13       Good     VS2  4262.236196
9        Good      IF  4098.323944
12       Good     VS1  3801.445988
10       Good     SI1  3689.533333
8        Good      I1  3596.635417
15       Good    VVS2  3079.108392
14       Good    VVS1  2254.774194
19      Ideal     SI2  4755.952656
16      Ideal      I1  4335.726027
18      Ideal     SI1  3752.118169
20      Ideal     VS1  3489.744497
21      Ideal     VS2  3284.550385
23      Ideal    VVS2  3250.290100
22      Ideal    VVS1  2468.129458
17      Ideal      IF  2272.913366
27    Premium     SI2  5545.936928
29    Premium     VS2  4550.331248
28    Premium     VS1  4485.462041
26    Premium     SI1  4455.269371
24    Premium      I1  3947.331707
25    Premium      IF  3856.143478
31    Premium    VVS2  3795.122989
30    Premium    VVS1  2831.206169
35  Very Good     SI2  4988.688095
33  Very Good      IF  4396.216418
37  Very Good     VS2  4215.759552
32  Very Good      I1  4078.226190
34  Very Good     SI1  3932.391049
36  Very Good     VS1  3805.353239
39  Very Good    VVS2  3037.765182
38  Very Good    VVS1  2459.441065

In [27]:
elec = pd.read_csv('elec_load_2017_7d.csv')

In [28]:
elec.head()

,YEAR,MONTH,DAY,X1HR,X2HR,X3HR,X4HR,X5HR,X6HR,X7HR,...,X15HR,X16HR,X17HR,X18HR,X19HR,X20HR,X21HR,X22HR,X23HR,X24HR
0,2017,1,1,60178,57862,56165,55135,54450,54401,54147,...,49213,49357,50362,53115,55205,55437,55348,55790,58195,59330
1,2017,1,2,57067,55148,53983,53571,54027,55388,57753,...,72228,71945,72641,73387,72294,69989,67893,66504,67435,69275
2,2017,1,3,66263,64233,63194,62461,62649,63396,65098,...,75576,75168,75791,75922,75469,73118,70769,68726,69593,71346
3,2017,1,4,68403,66143,65051,64245,64152,64678,66494,...,74977,74275,74909,75344,74504,71957,69715,68155,68948,70834
4,2017,1,5,68053,65801,64439,63437,63135,63250,63658,...,64767,63613,63095,63230,64253,63353,62455,62314,64350,66687

In [30]:
elec.melt(id_vars = ['YEAR', 'MONTH', 'DAY'])

     YEAR  MONTH  DAY variable  value
0    2017      1    1     X1HR  60178
1    2017      1    2     X1HR  57067
2    2017      1    3     X1HR  66263
3    2017      1    4     X1HR  68403
4    2017      1    5     X1HR  68053
..    ...    ...  ...      ...    ...
163  2017      1    3    X24HR  71346
164  2017      1    4    X24HR  70834
165  2017      1    5    X24HR  66687
166  2017      1    6    X24HR  63214
167  2017      1    7    X24HR  69219

[168 rows x 5 columns]

In [31]:
elec.melt(id_vars = ['YEAR', 'MONTH', 'DAY'], var_name='HOUR', value_name='LOAD')

     YEAR  MONTH  DAY   HOUR   LOAD
0    2017      1    1   X1HR  60178
1    2017      1    2   X1HR  57067
2    2017      1    3   X1HR  66263
3    2017      1    4   X1HR  68403
4    2017      1    5   X1HR  68053
..    ...    ...  ...    ...    ...
163  2017      1    3  X24HR  71346
164  2017      1    4  X24HR  70834
165  2017      1    5  X24HR  66687
166  2017      1    6  X24HR  63214
167  2017      1    7  X24HR  69219

[168 rows x 5 columns]

In [32]:
elec_melt = elec.melt(id_vars = ['YEAR', 'MONTH', 'DAY'], var_name='HOUR', value_name='LOAD')

In [33]:
print(len(elec))
print(len(elec_melt))

7
168

In [36]:
elec_melt.pivot(index = ['YEAR', 'MONTH', 'DAY'], columns='HOUR', values='LOAD').reset_index()

HOUR,YEAR,MONTH,DAY,X10HR,X11HR,X12HR,X13HR,X14HR,X15HR,X16HR,...,X23HR,X24HR,X2HR,X3HR,X4HR,X5HR,X6HR,X7HR,X8HR,X9HR
0,2017,1,1,49572,50034,50026,49515,49365,49213,49357,...,58195,59330,57862,56165,55135,54450,54401,54147,52467,50469
1,2017,1,2,70869,72867,73115,69165,71429,72228,71945,...,67435,69275,55148,53983,53571,54027,55388,57753,60781,66494
2,2017,1,3,75999,76522,76019,72203,74725,75576,75168,...,69593,71346,64233,63194,62461,62649,63396,65098,67745,72982
3,2017,1,4,76175,76375,75862,72288,74360,74977,74275,...,68948,70834,66143,65051,64245,64152,64678,66494,68851,73835
4,2017,1,5,66806,68030,67878,64439,64986,64767,63613,...,64350,66687,65801,64439,63437,63135,63250,63658,63441,65640
5,2017,1,6,55679,56548,56435,55563,55759,55408,55256,...,62288,63214,62010,60783,59779,59398,59296,58984,57533,56159
6,2017,1,7,75383,74984,74066,70335,72507,73064,72466,...,67697,69219,58974,57845,57387,57749,58794,60869,64665,71544

# Q1

In [37]:
bike_q1 = pd.read_csv('bike.csv')

In [38]:
bike_q1.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [40]:
pd.crosstab(bike_q1['workingday'], bike_q1['holiday'], normalize=True)

holiday            0         1
workingday
0           0.290557  0.028569
1           0.680875  0.000000

# Q2

In [41]:
dia_q2 = pd.read_csv('diamonds.csv')

In [42]:
dia_q2.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [52]:
cross_q2 = pd.crosstab(dia_q2['cut'], dia_q2['color']).reset_index()

In [53]:
cross_q2.head()

color        cut     D     E     F     G     H     I    J
0           Fair   163   224   312   314   303   175  119
1           Good   662   933   909   871   702   522  307
2          Ideal  2834  3903  3826  4884  3115  2093  896
3        Premium  1603  2337  2331  2924  2360  1428  808
4      Very Good  1513  2400  2164  2299  1824  1204  678

In [55]:
melt_q2 = cross_q2.melt(id_vars=['cut'])

In [56]:
melt_q2.head()

         cut color  value
0       Fair     D    163
1       Good     D    662
2      Ideal     D   2834
3    Premium     D   1603
4  Very Good     D   1513

In [58]:
melt_q2.iloc[melt_q2['value'].idxmax()]

cut      Ideal
color        G
value     4884
Name: 17, dtype: object

# Q3

In [59]:
dia_q3 = pd.read_csv('diamonds.csv')

In [60]:
dia_q3.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [62]:
dia_q3['price_per_carat'] = dia_q3['price'] / dia_q3['carat']

In [63]:
dia_q3.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,1417.391304
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,1552.380952
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,1421.739130
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,1151.724138
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1080.645161

In [72]:
summary_q3 = dia_q3.groupby(['cut', 'color'])['price_per_carat'].mean().reset_index()

In [73]:
summary_q3.head()

    cut color  price_per_carat
0  Fair     D      4244.564841
1  Fair     E      3820.459862
2  Fair     F      3788.023975
3  Fair     G      3699.339188
4  Fair     H      3831.508566

In [74]:
summary_q3.iloc[summary_q3['price_per_carat'].idxmax()]

cut                    Premium
color                        F
price_per_carat    4357.804505
Name: 23, dtype: object

In [76]:
summary_q3.sort_values('price_per_carat', ascending=False)

          cut color  price_per_carat
23    Premium     F      4357.804505
24    Premium     G      4320.505678
25    Premium     H      4278.491444
26    Premium     I      4267.221626
0        Fair     D      4244.564841
17      Ideal     G      4163.998740
30  Very Good     F      4142.189229
27    Premium     J      4140.517668
21    Premium     D      4111.564944
33  Very Good     I      4111.274074
16      Ideal     F      4097.519455
10       Good     G      4087.365110
28  Very Good     D      4072.806966
31  Very Good     G      4054.557186
32  Very Good     H      4034.242970
22    Premium     E      3987.881020
12       Good     I      3907.219571
18      Ideal     H      3846.065529
7        Good     D      3845.999088
4        Fair     H      3831.508566
11       Good     H      3825.520677
29  Very Good     E      3821.529542
9        Good     F      3820.558283
1        Fair     E      3820.459862
19      Ideal     I      3808.070973
14      Ideal     D      3806.532106
8        Good     E      3806.246564
34  Very Good     J      3792.497711
2        Fair     F      3788.023975
20      Ideal     J      3733.765935
3        Fair     G      3699.339188
15      Ideal     E      3683.171591
13       Good     J      3524.266237
5        Fair     I      3514.653106
6        Fair     J      3345.942813