In [1]:
import pandas as pd
from patsy import dmatrices
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif

In [2]:
df = pd.read_csv('bike.csv')

In [3]:
df.head()

              datetime  season  holiday  workingday  weather  ...  humidity  windspeed  casual  registered  count
0  2011-01-01 00:00:00       1        0           0        1  ...        81        0.0       3          13     16
1  2011-01-01 01:00:00       1        0           0        1  ...        80        0.0       8          32     40
2  2011-01-01 02:00:00       1        0           0        1  ...        80        0.0       5          27     32
3  2011-01-01 03:00:00       1        0           0        1  ...        75        0.0       3          10     13
4  2011-01-01 04:00:00       1        0           0        1  ...        75        0.0       0           1      1

[5 rows x 12 columns]

In [4]:
df_sub = df.loc[:, 'season':'casual']
df_sub.head()

   season  holiday  workingday  weather  temp   atemp  humidity  windspeed  casual
0       1        0           0        1  9.84  14.395        81        0.0       3
1       1        0           0        1  9.02  13.635        80        0.0       8
2       1        0           0        1  9.02  13.635        80        0.0       5
3       1        0           0        1  9.84  14.395        75        0.0       3
4       1        0           0        1  9.84  14.395        75        0.0       0

In [5]:
df_sub.columns[:-1]

Index(['season', 'holiday', 'workingday', 'weather', 'temp', 'atemp',
       'humidity', 'windspeed'],
      dtype='object')

In [13]:
formula = 'casual ~ ' + ' + '.join(df_sub.columns[:-1])

In [14]:
formula

'casual ~ season + holiday + workingday + weather + temp + atemp + humidity + windspeed'

In [15]:
y, X = dmatrices(formula, data=df_sub, return_type='dataframe')

In [17]:
y.head()

   casual
0     3.0
1     8.0
2     5.0
3     3.0
4     0.0

In [18]:
X.head()

   Intercept  season  holiday  workingday  weather  temp   atemp  humidity  windspeed
0        1.0     1.0      0.0         0.0      1.0  9.84  14.395      81.0        0.0
1        1.0     1.0      0.0         0.0      1.0  9.02  13.635      80.0        0.0
2        1.0     1.0      0.0         0.0      1.0  9.02  13.635      80.0        0.0
3        1.0     1.0      0.0         0.0      1.0  9.84  14.395      75.0        0.0
4        1.0     1.0      0.0         0.0      1.0  9.84  14.395      75.0        0.0

In [19]:
df_vif = pd.DataFrame()

In [20]:
df_vif

Empty DataFrame
Columns: []
Index: []

In [21]:
df_vif['colname'] = X.columns

In [23]:
X.shape[1]

9

In [24]:
X.values

array([[ 1.    ,  1.    ,  0.    , ..., 14.395 , 81.    ,  0.    ],
       [ 1.    ,  1.    ,  0.    , ..., 13.635 , 80.    ,  0.    ],
       [ 1.    ,  1.    ,  0.    , ..., 13.635 , 80.    ,  0.    ],
       ...,
       [ 1.    ,  4.    ,  0.    , ..., 15.91  , 61.    , 15.0013],
       [ 1.    ,  4.    ,  0.    , ..., 17.425 , 61.    ,  6.0032],
       [ 1.    ,  4.    ,  0.    , ..., 16.665 , 66.    ,  8.9981]],
      shape=(10886, 9))

In [25]:
df_vif['vif'] = [vif(X.values, i) for i in range(X.shape[1])]

In [27]:
df_vif

      colname        vif
0   Intercept  34.029472
1      season   1.137211
2     holiday   1.069731
3  workingday   1.071196
4     weather   1.236150
5        temp  35.516012
6       atemp  35.550831
7    humidity   1.425034
8   windspeed   1.195704

In [28]:
df.head()

              datetime  season  holiday  workingday  weather  ...  humidity  windspeed  casual  registered  count
0  2011-01-01 00:00:00       1        0           0        1  ...        81        0.0       3          13     16
1  2011-01-01 01:00:00       1        0           0        1  ...        80        0.0       8          32     40
2  2011-01-01 02:00:00       1        0           0        1  ...        80        0.0       5          27     32
3  2011-01-01 03:00:00       1        0           0        1  ...        75        0.0       3          10     13
4  2011-01-01 04:00:00       1        0           0        1  ...        75        0.0       0           1      1

[5 rows x 12 columns]

In [42]:
df_sub_2 = pd.concat([df.loc[:, 'season':'temp'], df.loc[:, 'humidity':'casual']], axis = 1)

In [43]:
df_sub_2.head()

   season  holiday  workingday  weather  temp  humidity  windspeed  casual
0       1        0           0        1  9.84        81        0.0       3
1       1        0           0        1  9.02        80        0.0       8
2       1        0           0        1  9.02        80        0.0       5
3       1        0           0        1  9.84        75        0.0       3
4       1        0           0        1  9.84        75        0.0       0

In [46]:
formula_2 = 'casual ~ ' + ' + '.join(df_sub_2.columns[:-1])

In [47]:
formula_2

'casual ~ season + holiday + workingday + weather + temp + humidity + windspeed'

In [48]:
y_2, X_2 = dmatrices(formula_2, data=df_sub_2, return_type='dataframe')

In [49]:
y_2.head()

   casual
0     3.0
1     8.0
2     5.0
3     3.0
4     0.0

In [58]:
X_2.head()

   Intercept  season  holiday  workingday  weather  temp  humidity  windspeed
0        1.0     1.0      0.0         0.0      1.0  9.84      81.0        0.0
1        1.0     1.0      0.0         0.0      1.0  9.02      80.0        0.0
2        1.0     1.0      0.0         0.0      1.0  9.02      80.0        0.0
3        1.0     1.0      0.0         0.0      1.0  9.84      75.0        0.0
4        1.0     1.0      0.0         0.0      1.0  9.84      75.0        0.0

In [61]:
df_vif_2 = pd.DataFrame()
df_vif_2['column'] = X_2.columns

In [62]:
df_vif_2

       column
0   Intercept
1      season
2     holiday
3  workingday
4     weather
5        temp
6    humidity
7   windspeed

In [63]:
df_vif_2['vif'] = [vif(X_2.values, i) for i in range(X_2.shape[1])]

In [64]:
df_vif_2

       column        vif
0   Intercept  31.375118
1      season   1.136866
2     holiday   1.068094
3  workingday   1.070025
4     weather   1.235251
5        temp   1.089028
6    humidity   1.421256
7   windspeed   1.149650

In [69]:
df.corr(numeric_only=True)

              season   holiday  workingday   weather      temp  ...  humidity  windspeed    casual  registered     count
season      1.000000  0.029368   -0.008126  0.008879  0.258689  ...  0.190610  -0.147121  0.096758    0.164011  0.163439
holiday     0.029368  1.000000   -0.250491 -0.007074  0.000295  ...  0.001929   0.008409  0.043799   -0.020956 -0.005393
workingday -0.008126 -0.250491    1.000000  0.033772  0.029966  ... -0.010880   0.013373 -0.319111    0.119460  0.011594
weather     0.008879 -0.007074    0.033772  1.000000 -0.055035  ...  0.406244   0.007261 -0.135918   -0.109340 -0.128655
temp        0.258689  0.000295    0.029966 -0.055035  1.000000  ... -0.064949  -0.017852  0.467097    0.318571  0.394454
atemp       0.264744 -0.005215    0.024660 -0.055376  0.984948  ... -0.043536  -0.057473  0.462067    0.314635  0.389784
humidity    0.190610  0.001929   -0.010880  0.406244 -0.064949  ...  1.000000  -0.318607 -0.348187   -0.265458 -0.317371
windspeed  -0.147121  0.008409    0.013373  0.007261 -0.017852  ... -0.318607   1.000000  0.092276    0.091052  0.101369
casual      0.096758  0.043799   -0.319111 -0.135918  0.467097  ... -0.348187   0.092276  1.000000    0.497250  0.690414
registered  0.164011 -0.020956    0.119460 -0.109340  0.318571  ... -0.265458   0.091052  0.497250    1.000000  0.970948
count       0.163439 -0.005393    0.011594 -0.128655  0.394454  ... -0.317371   0.101369  0.690414    0.970948  1.000000

[11 rows x 11 columns]

# Q1

In [80]:
import pandas as pd
from patsy import dmatrices
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif

In [67]:
df_q2 = pd.read_csv('diamonds.csv')

In [68]:
df_q2.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [86]:
df_q2_sub = pd.concat([df_q2['carat'], df_q2.loc[:, 'depth':'table'], df_q2.loc[:, 'x':'z'], df_q2['price']], axis=1)
# df_q2_sub = df_q2.iloc[:, [6, 0, 4, 5, 7, 8, 9]]

In [87]:
df_q2_sub.head()

   carat  depth  table     x     y     z  price
0   0.23   61.5   55.0  3.95  3.98  2.43    326
1   0.21   59.8   61.0  3.89  3.84  2.31    326
2   0.23   56.9   65.0  4.05  4.07  2.31    327
3   0.29   62.4   58.0  4.20  4.23  2.63    334
4   0.31   63.3   58.0  4.34  4.35  2.75    335

In [88]:
formula_q2 = 'price ~ ' + ' + '.join(df_q2_sub.columns[:-1])
formula_q2

'price ~ carat + depth + table + x + y + z'

In [89]:
y_q2, X_q2 = dmatrices(formula_q2, data=df_q2_sub, return_type='dataframe')

In [90]:
y_q2.head()

   price
0  326.0
1  326.0
2  327.0
3  334.0
4  335.0

In [91]:
X_q2.head()

   Intercept  carat  depth  table     x     y     z
0        1.0   0.23   61.5   55.0  3.95  3.98  2.43
1        1.0   0.21   59.8   61.0  3.89  3.84  2.31
2        1.0   0.23   56.9   65.0  4.05  4.07  2.31
3        1.0   0.29   62.4   58.0  4.20  4.23  2.63
4        1.0   0.31   63.3   58.0  4.34  4.35  2.75

In [92]:
q2_vif = pd.DataFrame()

In [93]:
q2_vif['column'] = X_q2.columns

In [94]:
q2_vif

      column
0  Intercept
1      carat
2      depth
3      table
4          x
5          y
6          z

In [95]:
q2_vif['vif'] = [vif(X_q2.values, i) for i in range(X_q2.shape[1])]

In [96]:
q2_vif

      column          vif
0  Intercept  4821.696350
1      carat    21.602712
2      depth     1.496590
3      table     1.143225
4          x    56.187704
5          y    20.454295
6          z    23.530049

# Q2

In [97]:
import pandas as pd
from statsmodels.formula.api import ols

In [98]:
df_q3 = pd.read_csv('diamonds.csv')

In [99]:
df_q3.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [100]:
df_q3_sub = df_q3.iloc[:, [6, 0, 4]]

In [101]:
df_q3_sub.head()

   price  carat  depth
0    326   0.23   61.5
1    326   0.21   59.8
2    327   0.23   56.9
3    334   0.29   62.4
4    335   0.31   63.3

In [103]:
formula_q3 = 'price ~ carat + depth'

In [105]:
model_q3 = ols(formula=formula_q3, data=df_q3_sub).fit()

In [107]:
model_q3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.851
Model:                            OLS   Adj. R-squared:                  0.851
Method:                 Least Squares   F-statistic:                 1.536e+05
Date:                Tue, 11 Nov 2025   Prob (F-statistic):               0.00
Time:                        18:20:13   Log-Likelihood:            -4.7249e+05
No. Observations:               53940   AIC:                         9.450e+05
Df Residuals:                   53937   BIC:                         9.450e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   4045.3332    286.205     14.134      0.000    3484.368    4606.298
carat       7765.1407     14.009    554.282      0.000    7737.682    7792.599
depth       -102.1653      4.635    -22.041      0.000    -111.251     -93.080
==============================================================================
Omnibus:                    14148.858   Durbin-Watson:                   0.992
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           148236.675
Skew:                           0.962   Prob(JB):                         0.00
Kurtosis:                      10.890   Cond. No.                     2.66e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.66e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [108]:
4045.3332 + 7765.1407 * 1 + (-102.1653 * 60)

5680.555900000001

In [111]:
test_q3 = pd.DataFrame(data = [[1, 60, 55]], columns = ['carat', 'depth', 'table'])

In [112]:
test_q3

   carat  depth  table
0      1     60     55

In [113]:
model_q3.predict(test_q3)

0    5680.554517
dtype: float64

In [114]:
round(model_q3.predict(test_q3))

0    5681.0
dtype: float64

# Q3

In [159]:
import pandas as pd
from statsmodels.formula.api import ols

In [160]:
df_q4 = pd.read_csv('diamonds.csv')
df_q4.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [161]:
df_q4_sub = df_q4.loc[:, ['price', 'carat', 'depth', 'color']]
df_q4_sub.head()

   price  carat  depth color
0    326   0.23   61.5     E
1    326   0.21   59.8     E
2    327   0.23   56.9     E
3    334   0.29   62.4     I
4    335   0.31   63.3     J

In [162]:
df_q4_sub = pd.get_dummies(df_q4_sub, columns=['color'], drop_first=True)

In [163]:
df_q4_sub.head()

   price  carat  depth  color_E  color_F  color_G  color_H  color_I  color_J
0    326   0.23   61.5     True    False    False    False    False    False
1    326   0.21   59.8     True    False    False    False    False    False
2    327   0.23   56.9     True    False    False    False    False    False
3    334   0.29   62.4    False    False    False    False     True    False
4    335   0.31   63.3    False    False    False    False    False     True

In [164]:
formula_q4 = 'price ~ ' + ' + '.join(df_q4_sub.columns[1:])
formula_q4

'price ~ carat + depth + color_E + color_F + color_G + color_H + color_I + color_J'

In [165]:
model_q4 = ols(formula_q4, df_q4_sub).fit()

In [166]:
test_q4 = pd.DataFrame(data=[[1, 50, 1, 0, 0, 0, 0, 0]], columns=df_q4_sub.columns[1:])

In [167]:
test_q4

   carat  depth  color_E  color_F  color_G  color_H  color_I  color_J
0      1     50        1        0        0        0        0        0

In [168]:
model_q4.predict(test_q4)

0    6884.782287
dtype: float64

In [169]:
round(model_q4.predict(test_q4))

0    6885.0
dtype: float64