In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier

In [3]:
df = pd.read_csv('iris.csv')

In [4]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
df['Species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [7]:
df['Species'].value_counts()

Species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [8]:
df['is_versicolor'] = (df['Species'] == 'versicolor') + 0

In [9]:
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species  is_versicolor
0           5.1          3.5           1.4          0.2  setosa              0
1           4.9          3.0           1.4          0.2  setosa              0
2           4.7          3.2           1.3          0.2  setosa              0
3           4.6          3.1           1.5          0.2  setosa              0
4           5.0          3.6           1.4          0.2  setosa              0

In [14]:
model_c = DecisionTreeClassifier(random_state=123, max_depth=5).fit(y=df['is_versicolor'], X=df.iloc[:, :4])

In [15]:
pred_c = model_c.predict(df.iloc[:, :4])

In [16]:
pred_c

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [17]:
from sklearn.metrics import accuracy_score

In [18]:
accuracy_score(y_true=df['is_versicolor'], y_pred=pred_c)

1.0

In [20]:
model_r = DecisionTreeRegressor(random_state=123).fit(y=df['Petal.Width'], X=df.iloc[:, :3])

In [21]:
pred_r = model_r.predict(df.iloc[:, :3])

In [22]:
pred_r

array([0.25, 0.2 , 0.2 , 0.2 , 0.2 , 0.4 , 0.3 , 0.2 , 0.2 , 0.15, 0.2 ,
       0.2 , 0.2 , 0.1 , 0.2 , 0.4 , 0.4 , 0.25, 0.3 , 0.3 , 0.2 , 0.4 ,
       0.2 , 0.5 , 0.2 , 0.2 , 0.4 , 0.2 , 0.2 , 0.2 , 0.2 , 0.4 , 0.1 ,
       0.2 , 0.15, 0.2 , 0.2 , 0.1 , 0.2 , 0.2 , 0.3 , 0.3 , 0.2 , 0.6 ,
       0.4 , 0.2 , 0.2 , 0.2 , 0.2 , 0.2 , 1.4 , 1.5 , 1.5 , 1.3 , 1.5 ,
       1.3 , 1.6 , 1.  , 1.3 , 1.4 , 1.  , 1.5 , 1.  , 1.4 , 1.3 , 1.4 ,
       1.5 , 1.  , 1.5 , 1.1 , 1.8 , 1.3 , 1.5 , 1.2 , 1.3 , 1.4 , 1.4 ,
       1.7 , 1.5 , 1.  , 1.1 , 1.  , 1.2 , 1.6 , 1.5 , 1.6 , 1.5 , 1.3 ,
       1.3 , 1.3 , 1.2 , 1.4 , 1.2 , 1.  , 1.3 , 1.2 , 1.3 , 1.3 , 1.1 ,
       1.3 , 2.5 , 1.9 , 2.1 , 1.8 , 2.2 , 2.1 , 1.7 , 1.8 , 1.8 , 2.5 ,
       2.  , 1.9 , 2.1 , 2.  , 2.4 , 2.3 , 1.8 , 2.2 , 2.3 , 1.5 , 2.3 ,
       2.  , 2.  , 1.8 , 2.3 , 1.8 , 1.8 , 1.8 , 2.15, 1.6 , 1.9 , 2.  ,
       2.15, 1.5 , 1.4 , 2.3 , 2.4 , 1.8 , 1.8 , 2.1 , 2.4 , 2.3 , 1.9 ,
       2.3 , 2.3 , 2.3 , 1.9 , 2.  , 2.3 , 1.8 ])

In [23]:
from sklearn.metrics import mean_squared_error

In [25]:
mean_squared_error(y_true=df['Petal.Width'], y_pred=pred_r)

0.0007666666666666665

# Q1

In [26]:
import pandas as pd

In [27]:
df_q1 = pd.read_csv('diabetes.csv')
df_q1.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [28]:
df_q1 = df_q1.loc[:, ['Glucose', 'BloodPressure', 'Pregnancies', 'Outcome']]

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
q1_train, q1_test = train_test_split(df_q1, random_state=123, train_size=0.8)

In [31]:
from sklearn.tree import DecisionTreeClassifier

In [37]:
model_q1 = DecisionTreeClassifier(random_state=123).fit(X=q1_train.iloc[:, :3], y=q1_train['Outcome'])

In [38]:
pred_q1 = model_q1.predict(q1_test.iloc[:, :3])

In [39]:
from sklearn.metrics import accuracy_score

In [40]:
accuracy_score(y_true=q1_test['Outcome'], y_pred=pred_q1)

0.6298701298701299

# Q2

In [50]:
import pandas as pd

In [51]:
df_q2 = pd.read_csv('diabetes.csv')

In [52]:
from sklearn.model_selection import train_test_split

In [53]:
df_q2 = df_q2.loc[:, ['Glucose', 'BloodPressure', 'SkinThickness', 'BMI']]

In [54]:
q2_train, q2_test = train_test_split(df_q2, train_size=0.8, random_state=123)
q2_train.head()

     Glucose  BloodPressure  SkinThickness   BMI
318      115             66             39  38.1
313      113             50             10  29.5
195      158             84             41  39.4
570       78             70              0  32.5
226      101             76              0  35.7

In [55]:
from sklearn.tree import DecisionTreeRegressor

In [57]:
model_q2 = DecisionTreeRegressor(random_state=123).fit(y=q2_train['BMI'], X=q2_train.iloc[:, :3])

In [58]:
pred_q2 = model_q2.predict(q2_test.iloc[:, :3])

In [59]:
from sklearn.metrics import mean_squared_error

In [61]:
round(mean_squared_error(y_true=q2_test['BMI'], y_pred=pred_q2) ** 0.5, 1)

9.9

# Q3

In [62]:
import pandas as pd

In [63]:
df_q3 = pd.read_csv('diabetes.csv')
df_q3.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [64]:
df_q3.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [65]:
df_q3 = df_q3.loc[:, ['Glucose', 'BloodPressure', 'Pregnancies', 'BMI', 'Age','Outcome']]

In [66]:
from sklearn.model_selection import train_test_split

In [67]:
q3_train, q3_test = train_test_split(df_q3, train_size=0.7, random_state=345)

In [68]:
dep = [3, 4, 5, 6]

In [69]:
res = pd.DataFrame(dep, columns=['d'])

In [70]:
res

   d
0  3
1  4
2  5
3  6

In [72]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [73]:
acc = []
for d in dep:
    model = DecisionTreeClassifier(max_depth=d, random_state=345).fit(y=q3_train['Outcome'], X=q3_train.iloc[:, :5])
    pred = model.predict(q3_test.iloc[:, :5])
    acc.append(round(accuracy_score(y_true=q3_test['Outcome'], y_pred=pred), 2))
res['acc'] = acc

In [74]:
res

   d   acc
0  3  0.77
1  4  0.76
2  5  0.76
3  6  0.77