# Numpy np.array()

In [1]:
import numpy as np

In [2]:
np.array([1,2,3])

array([1, 2, 3])

In [3]:
np.array([[1,2], [3,4]])

array([[1, 2],
       [3, 4]])

In [4]:
np.array([1, 2, 3, 4]).reshape(2,2)

array([[1, 2],
       [3, 4]])

In [5]:
np.ones((2,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [6]:
array = np.array([[1, 2, 3], [4, 5, 6]])

In [7]:
array

array([[1, 2, 3],
       [4, 5, 6]])

In [8]:
array[0]

array([1, 2, 3])

In [9]:
array[1]

array([4, 5, 6])

In [10]:
array[0, :2]

array([1, 2])

In [11]:
array[0, 2]

np.int64(3)

In [12]:
print(array[0, 2])

3

In [14]:
array.ndim

2

In [15]:
array.shape

(2, 3)

In [16]:
array.dtype

dtype('int64')

In [17]:
array.sum()

np.int64(21)

In [18]:
array.min()

np.int64(1)

In [19]:
array.max()

np.int64(6)

In [20]:
array.mean()

np.float64(3.5)

In [22]:
array.std() # default ddof = 0 (자유도)

np.float64(1.707825127659933)

In [23]:
nums = np.array([1, 2, 2, 3])

In [24]:
nums

array([1, 2, 2, 3])

In [25]:
set(nums)

{np.int64(1), np.int64(2), np.int64(3)}

In [26]:
nums

array([1, 2, 2, 3])

In [27]:
np.unique(nums)

array([1, 2, 3])

In [28]:
nums

array([1, 2, 2, 3])

In [29]:
len(nums)

4

In [33]:
np.arange(3, 8, 2)

array([3, 5, 7])

In [36]:
np.where(nums == 2)

(array([1, 2]),)

In [37]:
np.where(nums == 2, 1, 0)

array([0, 1, 1, 0])

# Pandas pd.Series()

In [38]:
import pandas as pd

In [42]:
ser = pd.Series([1, 2, 3])
ser

0    1
1    2
2    3
dtype: int64

In [40]:
ser.values

array([1, 2, 3])

In [41]:
ser.index

RangeIndex(start=0, stop=3, step=1)

In [43]:
ser[2]

np.int64(3)

In [44]:
pd.Series([1, 2, 2, 3, 3, 4])

0    1
1    2
2    2
3    3
4    3
5    4
dtype: int64

In [45]:
pd.Series([1, 2, 3], index = ["a", "b", "c"])

a    1
b    2
c    3
dtype: int64

In [46]:
ser = pd.Series([1, 2, 3, 3, 4])

In [47]:
ser

0    1
1    2
2    3
3    3
4    4
dtype: int64

In [48]:
ser.sum()

np.int64(13)

In [53]:
ser.min()

np.int64(1)

In [50]:
ser.max()

np.int64(4)

In [51]:
ser.median()

np.float64(3.0)

In [54]:
ser.mean()

np.float64(2.6)

In [55]:
ser.std() # ddof = 1

np.float64(1.140175425099138)

In [56]:
ser.var()

np.float64(1.3000000000000003)

In [57]:
ser.skew()

np.float64(-0.404796008910937)

In [58]:
ser.kurt()

np.float64(-0.17751479289941052)

In [59]:
ser.unique()

array([1, 2, 3, 4])

In [60]:
ser.idxmax()

4

In [61]:
ser.isin([1,3])

0     True
1    False
2     True
3     True
4    False
dtype: bool

In [62]:
ser[0]

np.int64(1)

In [63]:
ser[[1, 3]]

1    2
3    3
dtype: int64

In [64]:
ser

0    1
1    2
2    3
3    3
4    4
dtype: int64

In [65]:
ser[2:]

2    3
3    3
4    4
dtype: int64

In [66]:
ser[:3]

0    1
1    2
2    3
dtype: int64

In [67]:
ser[:-1]

0    1
1    2
2    3
3    3
dtype: int64

# Pandas pd.DataFrame()

In [69]:
pd.DataFrame([[1, 2, 3], [4, 5, 6]])

   0  1  2
0  1  2  3
1  4  5  6

In [70]:
pd.DataFrame({"aa": [1, 2, 3], "bb": [4, 5, 6]})

   aa  bb
0   1   4
1   2   5
2   3   6

In [71]:
pd.DataFrame([[1,2], [3,4], [5,6]], columns=["aa", "bb"])

   aa  bb
0   1   2
1   3   4
2   5   6

In [73]:
pd.DataFrame(np.arange(4).reshape((2,2)), columns=["xx", "yy"])

   xx  yy
0   0   1
1   2   3

In [74]:
df = pd.DataFrame({"aa": [1, 2, 3], "bb": [4, 5, 6]})

In [75]:
df

   aa  bb
0   1   4
1   2   5
2   3   6

In [76]:
df.aa

0    1
1    2
2    3
Name: aa, dtype: int64

In [77]:
df[aa]

NameError: name 'aa' is not defined

In [78]:
df['aa']

0    1
1    2
2    3
Name: aa, dtype: int64

In [79]:
df.aa[:2]

0    1
1    2
Name: aa, dtype: int64

In [80]:
df['aa'][:2]

0    1
1    2
Name: aa, dtype: int64

In [81]:
df.iloc[2]

aa    3
bb    6
Name: 2, dtype: int64

In [82]:
df

   aa  bb
0   1   4
1   2   5
2   3   6

In [83]:
df.iloc([:2])

SyntaxError: invalid syntax (382546651.py, line 1)

In [85]:
df.iloc[:2]

   aa  bb
0   1   4
1   2   5

In [86]:
df.iloc[1, 0]

np.int64(2)

In [87]:
df.iloc[:, 0]

0    1
1    2
2    3
Name: aa, dtype: int64

In [88]:
df.iloc[:2, 0]

0    1
1    2
Name: aa, dtype: int64

In [89]:
df.loc[:, "aa"]

0    1
1    2
2    3
Name: aa, dtype: int64

In [91]:
df.loc[:2, "aa"]

0    1
1    2
2    3
Name: aa, dtype: int64

In [92]:
df

   aa  bb
0   1   4
1   2   5
2   3   6

In [94]:
pd.crosstab(df['aa'], df['bb']) # ??????

bb  4  5  6
aa
1   1  0  0
2   0  1  0
3   0  0  1

In [95]:
df2 = pd.DataFrame({'v1': [1, 1, 2, 2, 3, 3, 3], 'v2': [23, 45, 65,78,23,12,512]})

In [96]:
df2

   v1   v2
0   1   23
1   1   45
2   2   65
3   2   78
4   3   23
5   3   12
6   3  512

In [97]:
df2.groupby('v1')['v2'].sum()

v1
1     68
2    143
3    547
Name: v2, dtype: int64

In [98]:
df2.groupby('v1')['v2']

In [99]:
df2.groupby('v1')['v2'].mean()

v1
1     34.000000
2     71.500000
3    182.333333
Name: v2, dtype: float64

# Q1

In [101]:
array = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [102]:
array[0, 2]

np.int64(3)

# Q2

In [105]:
pd.DataFrame([[1,2,3],[4,5,6]], columns=['v1', 'v2', 'v3'])

   v1  v2  v3
0   1   2   3
1   4   5   6

In [106]:
pd.DataFrame({'v1': [1,4], 'v2': [2,5], 'v3': [3,6]})

   v1  v2  v3
0   1   2   3
1   4   5   6

In [108]:
pd.DataFrame(np.arange(1, 7).reshape((2,3)), columns=['v1','v2','v3'])

   v1  v2  v3
0   1   2   3
1   4   5   6