In [1]:
import pandas as pd

In [2]:
SNS = pd.read_csv('lv2-2504.csv')

In [3]:
SNS.shape

(15809, 6)

In [4]:
SNS.head()

   AID CATEGORY  REPUTATION  REPLY   VIEW  UPVOTE
0    1        j         164      1   1282       1
1    2        j       44657      2   3297      95
2    3        f         621      2  16977      13
3    4        f         246      2   3569       7
4    5        f         215      5  21520      18

# Q24

# 24-1

In [5]:
df_24 = SNS.copy()

In [6]:
df_24['UP_RATIO'] = df_24['UPVOTE'] / df_24['VIEW']

In [7]:
df_24.head()

   AID CATEGORY  REPUTATION  REPLY   VIEW  UPVOTE  UP_RATIO
0    1        j         164      1   1282       1  0.000780
1    2        j       44657      2   3297      95  0.028814
2    3        f         621      2  16977      13  0.000766
3    4        f         246      2   3569       7  0.001961
4    5        f         215      5  21520      18  0.000836

# 24-2

In [9]:
df_24['CATEGORY'].value_counts()

c    3550
f    3512
h    2021
e    1539
a    1518
j    1119
d     956
g     670
i     597
b     327
Name: CATEGORY, dtype: int64

In [10]:
targets = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j',]

In [12]:
from scipy.stats import pearsonr

In [14]:
pearsonrs = []

for target in targets:
    df = df_24[df_24['CATEGORY'] == target]
    p = pearsonr(df['UP_RATIO'], df['REPUTATION'])[0]
    pearsonrs.append(p)

In [15]:
pearsonrs

[0.6575864492306837,
 0.5100504809454055,
 0.7548145516773483,
 0.6523530809223037,
 0.8289612632889155,
 0.6392338476070248,
 0.8997604745276694,
 0.8048228459076912,
 0.448015384614919,
 0.6142020083848919]

# 24-3

In [17]:
min_p = min(pearsonrs)
max_p = max(pearsonrs)
gap_p = abs(min_p - max_p)

gap_p

0.45174508991275036

# Q24 Answer

In [19]:
print(round(gap_p, 3))

0.452

# Q25

In [20]:
df_25 = SNS.copy()

# 25-1

In [21]:
from sklearn.preprocessing import MinMaxScaler

In [22]:
targets = ['REPUTATION', 'VIEW']

In [23]:
df_25.head()

   AID CATEGORY  REPUTATION  REPLY   VIEW  UPVOTE
0    1        j         164      1   1282       1
1    2        j       44657      2   3297      95
2    3        f         621      2  16977      13
3    4        f         246      2   3569       7
4    5        f         215      5  21520      18

In [24]:
df_25.shape

(15809, 6)

In [37]:
for target in targets:
    df_25[target + '_N'] = MinMaxScaler(feature_range=(0, 10)).fit_transform(X=df_25.loc[:, [target]])

In [38]:
df_25.head()

   AID CATEGORY  REPUTATION  REPLY   VIEW  UPVOTE  REPUTATION_N    VIEW_N
0    1        j         164      1   1282       1      0.002506  0.004897
1    2        j       44657      2   3297      95      0.682331  0.012721
2    3        f         621      2  16977      13      0.009488  0.065843
3    4        f         246      2   3569       7      0.003759  0.013777
4    5        f         215      5  21520      18      0.003285  0.083484

# 25-2

In [39]:
from sklearn.cluster import KMeans

In [40]:
model = KMeans(n_clusters=4, random_state=1234).fit(X=df_25.loc[:, ['REPUTATION_N', 'VIEW_N']])

# 25-3

In [41]:
centres = model.cluster_centers_
centres

array([[0.0599919 , 0.08530011],
       [1.23957936, 0.09581115],
       [0.16989031, 1.71441742],
       [4.86909571, 0.16757386]])

# 25-4

In [42]:
dists = []

for i in range(3):
    for j in range(i + 1, 4):
        dist = (((centres[i][0] - centres[j][0]) ** 2) + ((centres[i][1] - centres[j][1]) ** 2)) ** 0.5
        dists.append(dist)

In [43]:
dists

[1.1796342825920318,
 1.632819909691561,
 4.809807522822202,
 1.940134253199452,
 3.6302257313135695,
 4.947247356901718]

# 25-5

In [44]:
min_d = min(dists)
max_d = max(dists)
gap_d = abs(min_d - max_d)

gap_d

3.7676130743096863

# Q25 Answer

In [45]:
print(round(gap_d, 2))

3.77

# Q26

In [66]:
df_26 = SNS.copy()

# 26-1

In [67]:
targets = ['REPUTATION', 'REPLY', 'VIEW', 'UPVOTE']

In [68]:
df_26.shape

(15809, 6)

In [69]:
df_26.head()

   AID CATEGORY  REPUTATION  REPLY   VIEW  UPVOTE
0    1        j         164      1   1282       1
1    2        j       44657      2   3297      95
2    3        f         621      2  16977      13
3    4        f         246      2   3569       7
4    5        f         215      5  21520      18

In [76]:
df_26['OUT'] = df_26['AID'].map(lambda x: 0)
df_26.head()

   AID CATEGORY  REPUTATION  REPLY   VIEW  UPVOTE  OUT
0    1        j         164      1   1282       1    0
1    2        j       44657      2   3297      95    0
2    3        f         621      2  16977      13    0
3    4        f         246      2   3569       7    0
4    5        f         215      5  21520      18    0

In [77]:
for target in targets:
    q1 = df_26[target].quantile(0.25)
    q3 = df_26[target].quantile(0.75)
    iqr = q3 - q1
    df_26['OUT'] += (df_26[target] < q1 - 1.5 * iqr) + 0
    df_26['OUT'] += (df_26[target] > q3 + 1.5 * iqr) + 0

In [78]:
df_26.head()

   AID CATEGORY  REPUTATION  REPLY   VIEW  UPVOTE  OUT
0    1        j         164      1   1282       1    0
1    2        j       44657      2   3297      95    1
2    3        f         621      2  16977      13    0
3    4        f         246      2   3569       7    0
4    5        f         215      5  21520      18    0

In [79]:
DF6 = df_26[df_26['OUT'] == 0]

In [80]:
DF6.shape

(11644, 7)

# 26-2

In [85]:
DF6 = pd.get_dummies(DF6, columns=['CATEGORY'], drop_first=True)

In [86]:
DF6.head()

,AID,REPUTATION,REPLY,VIEW,UPVOTE,OUT,CATEGORY_b,CATEGORY_c,CATEGORY_d,CATEGORY_e,CATEGORY_f,CATEGORY_g,CATEGORY_h,CATEGORY_i,CATEGORY_j
0,1,164,1,1282,1,0,0,0,0,0,0,0,0,0,1
2,3,621,2,16977,13,0,0,0,0,0,1,0,0,0,0
3,4,246,2,3569,7,0,0,0,0,0,1,0,0,0,0
4,5,215,5,21520,18,0,0,0,0,0,1,0,0,0,0
5,6,209,2,2514,0,0,0,0,1,0,0,0,0,0,0

# 26-3

In [87]:
TRAIN6 = DF6[DF6['AID'] % 5 != 0]
TRAIN6.shape

(9331, 15)

In [88]:
TEST6 = DF6[DF6['AID'] % 5 == 0]
TEST6.shape

(2313, 15)

# 26-4

In [89]:
from sklearn.linear_model import LinearRegression

In [90]:
TRAIN6.shape

(9331, 15)

In [91]:
TRAIN6.columns

Index(['AID', 'REPUTATION', 'REPLY', 'VIEW', 'UPVOTE', 'OUT', 'CATEGORY_b',
       'CATEGORY_c', 'CATEGORY_d', 'CATEGORY_e', 'CATEGORY_f', 'CATEGORY_g',
       'CATEGORY_h', 'CATEGORY_i', 'CATEGORY_j'],
      dtype='object')

In [92]:
TRAIN6 = TRAIN6.drop(columns = ['OUT'])

In [93]:
TEST6 = TEST6.drop(columns = ['OUT'])

In [94]:
TRAIN6.shape

(9331, 14)

In [95]:
TEST6.shape

(2313, 14)

In [96]:
model = LinearRegression().fit(y=TRAIN6['REPUTATION'], X=TRAIN6.iloc[:, -12:])

In [103]:
pred = model.predict(X=TEST6.iloc[:, -12:])

In [104]:
pred[:5]

array([ 730.5230692 , 1546.63349089, 2507.94050358, 1273.90455339,
       2900.839647  ])

In [105]:
pred.mean()

1836.7031793889687

In [106]:
A6 = pred.mean()

In [107]:
print(round(A6, 3))

1836.703