In [1]:
import pandas as pd
import numpy as np

CULTURE = pd.read_csv('lv2-2506.csv')
print(CULTURE.shape)
CULTURE

(1500, 11)

      C_ID   NEMP  DNEMP  IRATIO  FRATIO    S1    S2    S3    S4    S5  SCORE
0        1  20965   10.6      42      48  92.3  99.7  99.0  74.9  96.2  96.40
1        2  21887    9.6      25      50  94.8  99.0  99.3  49.5  80.5  95.20
2        3  20185   11.3      39      47  90.9  99.5  97.0  54.2  95.8  94.80
3        4  16164    7.1      24      46  94.2  96.7  99.8  65.0  79.8  94.80
4        5  11415    8.2      33      40  90.7  93.6  99.8  90.9  89.3  94.20
...    ...    ...    ...     ...     ...   ...   ...   ...   ...   ...    ...
1495  1496  51567   33.4       1      56  11.6   7.8  10.2  37.1  51.8  14.35
1496  1497  10339   11.6       9      27  17.5   8.3   8.0  39.3  26.1  14.35
1497  1498  33484   12.8       1      35  16.4  10.1  12.6  37.4  22.1  14.35
1498  1499  60563   16.0       1      67  19.0  13.2  10.4  37.5  20.9  14.35
1499  1500  18977   18.2       1      43  14.1  10.5  20.3  40.5  29.4  14.35

[1500 rows x 11 columns]

### Question 24

In [2]:
# 24-1
DF24 = CULTURE.copy()
pvar = ['SCORE','S1','S2','S3','S4','S5']
cors = DF24[pvar].corr().loc['SCORE',['S1','S2','S3','S4','S5']]
print(cors)
VAR24 = abs(cors).idxmax()
print('VAR24:',VAR24)

S1    0.809504
S2    0.861697
S3    0.850140
S4    0.425411
S5    0.629673
Name: SCORE, dtype: float64
VAR24: S2

In [3]:
# 24-2
A4 = DF24.IRATIO.mean()
print('A4:',A4)
DF24['IHIGH'] = np.where(DF24['IRATIO']>A4, 1, 0)

A4: 10.095333333333333

In [4]:
# 24-3
B4 = DF24[DF24['IHIGH']==1][['SCORE',VAR24]].corr().iloc[0,1]
C4 = DF24[DF24['IHIGH']==0][['SCORE',VAR24]].corr().iloc[0,1]
D4 = abs(B4-C4)
print('B4:',B4)
print('C4:',C4)
print('D4:',D4)

B4: 0.9114765535264763
C4: 0.6860248066670699
D4: 0.2254517468594064

In [5]:
# Answer 24
ans24f = D4
ans24 = round(ans24f, 3)

print(ans24f)
print(ans24)

0.2254517468594064
0.225

### Question 25

In [6]:
# 25-1
DF5 = CULTURE[CULTURE.FRATIO!=-999].copy().reset_index(drop=True)
DF5.shape

(1442, 11)

In [7]:
# 25-2
from sklearn.preprocessing import StandardScaler
svar = ["NEMP", "DNEMP", "IRATIO", "FRATIO", "S1", "S2", "S3", "S4", "S5"]
svars = [v + '_S' for v in svar]
scaled = pd.DataFrame(StandardScaler().fit_transform(DF5[svar]), columns=svars)
DF25 = pd.concat([DF5, scaled], axis=1)

In [8]:
# 25-3
DF25 = DF25[(abs(DF25[svars])>3).sum(axis=1)==0]

In [9]:
# 25-4
from sklearn.cluster import KMeans
km = KMeans(random_state=1234, n_clusters=3).fit(DF25[svars])
DF25['CLST'] = km.labels_

In [10]:
# 25-5
DF25.groupby('CLST').SCORE.mean()

CLST
0    46.624328
1    27.641195
2    23.994411
Name: SCORE, dtype: float64

In [11]:
# Answer 25
ans25f = DF25.groupby('CLST').SCORE.mean().max()
ans25 = round(ans25f, 2)

print(ans25f)
print(ans25)

46.62432835820904
46.62

### Question 26

In [12]:
# 26-1
TRAIN26 = CULTURE[CULTURE.C_ID%5!=0].copy().reset_index(drop=True)
TEST26 = CULTURE[CULTURE.C_ID%5==0].copy().reset_index(drop=True)
print(TRAIN26.shape, TEST26.shape)

(1200, 11) (300, 11)

In [13]:
# 26-2
A6 = TRAIN26[TRAIN26.FRATIO!=-999].FRATIO.mean()
print('A6:',A6)

TRAIN26.loc[TRAIN26.FRATIO==-999, 'FRATIO'] = A6
TEST26.loc[TEST26.FRATIO==-999, 'FRATIO'] = A6

A6: 50.7393570807993

In [14]:
# 26-3
from sklearn.preprocessing import MinMaxScaler
nvar = ["NEMP", "DNEMP", "IRATIO", "FRATIO", "S1", "S2", "S3", "S4", "S5"]
nvarn = [v + '_N' for v in nvar]
normer = MinMaxScaler().fit(TRAIN26[nvar])
TRAIN26n = pd.DataFrame(normer.transform(TRAIN26[nvar]), columns=nvarn)
TEST26n = pd.DataFrame(normer.transform(TEST26[nvar]), columns=nvarn)

In [15]:
TRAIN26n

,NEMP_N,DNEMP_N,IRATIO_N,FRATIO_N,S1_N,S2_N,S3_N,S4_N,S5_N
0,0.228639,0.097390,0.506024,0.469388,0.969952,1.000000,0.989796,0.602219,0.961358
1,0.238934,0.087349,0.301205,0.489796,1.000000,0.992416,0.992857,0.199683,0.777518
2,0.219929,0.104418,0.469880,0.459184,0.953125,0.997833,0.969388,0.274168,0.956674
3,0.175030,0.062249,0.289157,0.448980,0.992788,0.967497,0.997959,0.445325,0.769321
4,0.019519,0.053213,0.409639,0.357143,0.953125,0.970748,0.972449,0.838352,0.813817
...,...,...,...,...,...,...,...,...,...
1195,0.202778,0.196787,0.024096,0.367347,0.048077,0.049837,0.178571,0.034865,0.104215
1196,0.570347,0.326305,0.012048,0.551020,0.000000,0.004334,0.083673,0.003170,0.441452
1197,0.109987,0.107430,0.108434,0.255102,0.070913,0.009751,0.061224,0.038035,0.140515
1198,0.368429,0.119478,0.012048,0.336735,0.057692,0.029252,0.108163,0.007924,0.093677
1199,0.670798,0.151606,0.012048,0.663265,0.088942,0.062839,0.085714,0.009509,0.079625

In [16]:
# 26-4
from sklearn.neighbors import KNeighborsRegressor
mdl263 = KNeighborsRegressor(n_neighbors=9)
mdl263.fit(TRAIN26n, TRAIN26.SCORE)
pred263 = mdl263.predict(TEST26n)

In [17]:
# 26-5
mae265 = np.mean(np.abs(pred263-TEST26.SCORE))
mae265

1.981203703703704

In [18]:
# Answer 26
ans26f = mae265
ans26 = round(ans26f, 3)

print(ans26f)
print(ans26)

1.981203703703704
1.981

## Summary

In [20]:
print(ans24)
print(ans25)
print(ans26)

0.225
46.62
1.981