In [1]:
import pandas as pd
import numpy as np

In [2]:
COMPONENT = pd.read_csv('lv2-2510.csv')
print(COMPONENT.info())
display(COMPONENT)
print(COMPONENT.CLASS.value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6182 entries, 0 to 6181
Data columns (total 10 columns):
COMP_ID      6182 non-null int64
AREA         6182 non-null int64
PERIM        6182 non-null float64
MAJOR_LEN    6182 non-null float64
MINOR_LEN    6182 non-null float64
ASPECT       6182 non-null float64
ECCENTRIC    6182 non-null float64
SOLID        6182 non-null float64
COMPACT      6182 non-null float64
CLASS        6182 non-null object
dtypes: float64(7), int64(2), object(1)
memory usage: 483.1+ KB
None

,COMP_ID,AREA,PERIM,MAJOR_LEN,MINOR_LEN,ASPECT,ECCENTRIC,SOLID,COMPACT,CLASS
0,1,32942,674.930,247.096035,169.976521,1.453707,0.725809,0.987233,0.828828,B
1,2,47938,828.665,317.939811,192.900513,1.648206,0.794915,0.986237,0.777052,A
2,3,34440,690.948,255.685823,171.960621,1.486886,0.740055,0.988094,0.818993,B
3,4,26325,608.100,229.035687,147.253912,1.555379,0.765925,0.986620,0.799348,B
4,5,26849,597.794,213.151365,160.702667,1.326371,0.656947,0.988586,0.867423,B
...,...,...,...,...,...,...,...,...,...,...
6177,6178,41643,768.910,294.504538,180.980597,1.627271,0.788897,0.986030,0.781869,A
6178,6179,27494,618.455,232.568915,150.758569,1.542658,0.761443,0.989277,0.804493,B
6179,6180,44595,791.968,296.667729,192.287719,1.542832,0.761505,0.989790,0.803208,A
6180,6181,41943,760.064,276.546941,193.299792,1.430663,0.715145,0.990109,0.835634,A
6181,6182,25165,602.666,231.765027,138.656106,1.671510,0.801301,0.986669,0.772335,B

B    3546
A    2636
Name: CLASS, dtype: int64

### Question 21.

In [3]:
df1 = COMPONENT.copy()
print(df1.shape)

(6182, 10)

In [4]:
# Step 21-1.

VAR1 = ['PERIM','MAJOR_LEN','MINOR_LEN','ASPECT','ECCENTRIC','SOLID','COMPACT']
VAR1_N = [c+'_N' for c in VAR1]
print(f'VAR1_N: {len(VAR1_N)},{VAR1_N}')
from sklearn.preprocessing import MinMaxScaler
n_df = pd.DataFrame(MinMaxScaler().fit_transform(df1[VAR1]), columns=VAR1_N)
df11 = pd.concat([df1,n_df], axis=1)
print(df11.shape)

VAR1_N: 7,['PERIM_N', 'MAJOR_LEN_N', 'MINOR_LEN_N', 'ASPECT_N', 'ECCENTRIC_N', 'SOLID_N', 'COMPACT_N']
(6182, 17)

In [5]:
# Step 21-2.

from sklearn.cluster import KMeans
df11['CLS'] = KMeans(random_state=1234, n_clusters=3).fit_predict(df11[VAR1_N])
df11

,COMP_ID,AREA,PERIM,MAJOR_LEN,MINOR_LEN,ASPECT,ECCENTRIC,SOLID,COMPACT,CLASS,PERIM_N,MAJOR_LEN_N,MINOR_LEN_N,ASPECT_N,ECCENTRIC_N,SOLID_N,COMPACT_N,CLS
0,1,32942,674.930,247.096035,169.976521,1.453707,0.725809,0.987233,0.828828,B,0.326831,0.292158,0.464346,0.323172,0.567478,0.863913,0.590694,1
1,2,47938,828.665,317.939811,192.900513,1.648206,0.794915,0.986237,0.777052,A,0.661368,0.618131,0.688614,0.559814,0.778495,0.842704,0.346917,0
2,3,34440,690.948,255.685823,171.960621,1.486886,0.740055,0.988094,0.818993,B,0.361687,0.331683,0.483756,0.363540,0.610978,0.882218,0.544387,1
3,4,26325,608.100,229.035687,147.253912,1.555379,0.765925,0.986620,0.799348,B,0.181405,0.209057,0.242047,0.446874,0.689972,0.850867,0.451896,2
4,5,26849,597.794,213.151365,160.702667,1.326371,0.656947,0.988586,0.867423,B,0.158979,0.135969,0.373618,0.168245,0.357208,0.892692,0.772414,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6177,6178,41643,768.910,294.504538,180.980597,1.627271,0.788897,0.986030,0.781869,A,0.531337,0.510299,0.572000,0.534343,0.760117,0.838306,0.369598,0
6178,6179,27494,618.455,232.568915,150.758569,1.542658,0.761443,0.989277,0.804493,B,0.203938,0.225315,0.276334,0.431396,0.676287,0.907412,0.476119,2
6179,6180,44595,791.968,296.667729,192.287719,1.542832,0.761505,0.989790,0.803208,A,0.581513,0.520252,0.682619,0.431609,0.676477,0.918323,0.470067,0
6180,6181,41943,760.064,276.546941,193.299792,1.430663,0.715145,0.990109,0.835634,A,0.512088,0.427671,0.692521,0.295135,0.534915,0.925106,0.622739,1
6181,6182,25165,602.666,231.765027,138.656106,1.671510,0.801301,0.986669,0.772335,B,0.169580,0.221616,0.157934,0.588167,0.797993,0.851912,0.324707,2

In [6]:
# Step 21-3.

tot_df = df11.groupby(['CLS'])['COMP_ID'].count().reset_index(name='CNT1')
display(tot_df)
seg_df = df11.groupby(['CLS','CLASS'])['COMP_ID'].count().reset_index(name='CNT2')
display(seg_df)
a_df = seg_df[seg_df.CLASS=='A'].reset_index(drop=True)
m_df = pd.merge(tot_df, a_df, on='CLS', how='left')
m_df['A_RATE'] = m_df['CNT2']/m_df['CNT1']
display(m_df)

   CLS  CNT1
0    0  2696
1    1  1828
2    2  1658

   CLS CLASS  CNT2
0    0     A  2336
1    0     B   360
2    1     A   237
3    1     B  1591
4    2     A    63
5    2     B  1595

   CLS  CNT1 CLASS  CNT2    A_RATE
0    0  2696     A  2336  0.866469
1    1  1828     A   237  0.129650
2    2  1658     A    63  0.037998

In [7]:
# Step 21-4.

A1 = np.max(m_df.A_RATE.tolist())
print(f'A1: {A1}')
B1 = df11[df11.CLS==m_df.loc[m_df.A_RATE==A1,'CLS'].values[0]]['AREA'].mean()
print(f'B1: {B1}')

A1: 0.8664688427299704
B1: 44730.515949554894

In [8]:
res1 = A1+B1
print(f'res1: {res1}')
ans1 = round(res1,3)
print(f'ans1: {ans1}')

res1: 44731.382418397625
ans1: 44731.382

### Question 22.

In [9]:
df2 = COMPONENT.copy()
print(df2.shape)

(6182, 10)

In [10]:
# Step 22-1.

X_VAR = ['AREA','PERIM','MAJOR_LEN','MINOR_LEN','ASPECT','ECCENTRIC','SOLID','COMPACT']
print(f'X_VAL: {len(X_VAR)}, {X_VAR}')
Y_VAR = 'CLASS'
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=1234, max_depth=3)
dtc.fit(df2[X_VAR],df2[Y_VAR])

X_VAL: 8, ['AREA', 'PERIM', 'MAJOR_LEN', 'MINOR_LEN', 'ASPECT', 'ECCENTRIC', 'SOLID', 'COMPACT']

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=1234, splitter='best')

In [11]:
# Step 22-2.

f_df = pd.DataFrame(zip(X_VAR,dtc.feature_importances_),columns=['feat','imp'])
f_df = f_df.sort_values('imp', ascending=False).reset_index(drop=True)
A2 = sum(f_df.imp[:2])
print(f'A2: {A2}')

A2: 0.9954847790575745

In [12]:
# Step 22-3.

pred = dtc.predict(df2[X_VAR])
actu = df2[Y_VAR]
B2 = sum((actu == 'A')&(pred == 'A')) / sum(actu == 'A')
print(f'B2: {B2}')

B2: 0.8805007587253414

In [13]:
res2 = A2+B2
print(f'res2: {res2}')
ans2 = round(res2,3)
print(f'ans2: {ans2}')

res2: 1.875985537782916
ans2: 1.876

### Question 23.

In [14]:
df3 = COMPONENT.copy()
print(df3.shape)

(6182, 10)

In [15]:
# Step 23-1.

VAR3 = ['AREA','PERIM','MAJOR_LEN','MINOR_LEN','ASPECT','SOLID']
print(f'VAR3: {len(VAR3)},{VAR3}')
out_cnt = pd.Series(np.zeros(len(df3)))
for c in VAR3:
    Q1 = df3[c].quantile(0.25)
    Q3 = df3[c].quantile(0.75)
    IQR = Q3 - Q1
    LB = Q1 - 1.5*IQR
    UB = Q3 + 1.5*IQR
    out_tmp = np.where((df3[c]<LB) | (df3[c]>UB),1,0)
    print(f'c: {c}, out_no: {sum(out_tmp)}')
    out_cnt += out_tmp
DF3 = df3[out_cnt<2]
print(DF3.shape)

VAR3: 6,['AREA', 'PERIM', 'MAJOR_LEN', 'MINOR_LEN', 'ASPECT', 'SOLID']
c: AREA, out_no: 1
c: PERIM, out_no: 1
c: MAJOR_LEN, out_no: 2
c: MINOR_LEN, out_no: 1
c: ASPECT, out_no: 68
c: SOLID, out_no: 279
(6170, 10)

In [17]:
# Step 23-2.

TRAIN3 = DF3[DF3.COMP_ID%4 != 0]
print(TRAIN3.shape)
TEST3 = DF3[DF3.COMP_ID%4 == 0]
print(TEST3.shape)

(4627, 10)
(1543, 10)

In [18]:
# Step 23-3.

from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(metric='euclidean', n_neighbors=7)
knc.fit(TRAIN3[VAR3], TRAIN3['CLASS'])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=7, p=2,
                     weights='uniform')

In [19]:
# Step 23-4.

TEST3.loc[:,'pred'] = knc.predict(TEST3[VAR3])
TEST3.loc[:,'prob0'] = knc.predict_proba(TEST3[VAR3])[:,0]
TEST3.loc[:,'prob1'] = knc.predict_proba(TEST3[VAR3])[:,1]
actu = TEST3['CLASS']
prob_sum = sum(TEST3[TEST3.pred=='A']['prob0'])
print(f'prob_sum: {prob_sum}')

prob_sum: 603.8571428571418

c:\users\sds\appdata\local\programs\python\python374\lib\site-packages\pandas\core\indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
c:\users\sds\appdata\local\programs\python\python374\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
c:\users\sds\appdata\local\programs\python\python374\lib\site-packages\pandas\core\indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
c:\users\sds\appdata\local\programs\python\python374\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
c:\users\sds\appdata\local\programs\python\python374\lib\site-packages\pandas\core\indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
c:\users\sds\appdata\local\programs\python\python374\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [20]:
res3 = prob_sum
print(f'res3: {res3}')
ans3 = round(res3,3)
print(f'ans3: {ans3}')

res3: 603.8571428571418
ans3: 603.857

## Summary.

In [21]:
print(f'ans1: {ans1}')
print(f'ans2: {ans2}')
print(f'ans3: {ans3}')

ans1: 44731.382
ans2: 1.876
ans3: 603.857