# Q1

In [52]:
import pandas as pd

In [53]:
df_1 = pd.read_csv('lv2-2305-3.csv')
df_1.head()

,OBS_DT,RADIATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED,TIME_SUNRISE,TIME_SUNSET
0,2022-09-29 23:55:26,1.21,48.0,30.46,59.0,177.39,5.62,06:13:00,18:13:00
1,2022-09-29 23:50:23,1.21,48.0,30.46,58.0,176.78,3.37,06:13:00,18:13:00
2,2022-09-29 23:45:26,1.23,48.0,30.46,57.0,158.75,3.37,06:13:00,18:13:00
3,2022-09-29 23:40:21,1.21,48.0,30.46,60.0,137.71,3.37,06:13:00,18:13:00
4,2022-09-29 23:35:24,1.17,48.0,30.46,62.0,104.95,5.62,06:13:00,18:13:00

### 1-1

In [54]:
shortened = []
for date in df_1['OBS_DT']:
    shortened.append(date[-8:])

shortened[:5]

['23:55:26', '23:50:23', '23:45:26', '23:40:21', '23:35:24']

In [55]:
df_1['TIME'] = shortened

In [56]:
df_1.head()

,OBS_DT,RADIATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED,TIME_SUNRISE,TIME_SUNSET,TIME
0,2022-09-29 23:55:26,1.21,48.0,30.46,59.0,177.39,5.62,06:13:00,18:13:00,23:55:26
1,2022-09-29 23:50:23,1.21,48.0,30.46,58.0,176.78,3.37,06:13:00,18:13:00,23:50:23
2,2022-09-29 23:45:26,1.23,48.0,30.46,57.0,158.75,3.37,06:13:00,18:13:00,23:45:26
3,2022-09-29 23:40:21,1.21,48.0,30.46,60.0,137.71,3.37,06:13:00,18:13:00,23:40:21
4,2022-09-29 23:35:24,1.17,48.0,30.46,62.0,104.95,5.62,06:13:00,18:13:00,23:35:24

In [57]:
df_1 = df_1[df_1['TIME'] >= df_1['TIME_SUNRISE']]

In [58]:
df_1 = df_1[df_1['TIME'] <= df_1['TIME_SUNSET']]

In [59]:
df_1.head()

,OBS_DT,RADIATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED,TIME_SUNRISE,TIME_SUNSET,TIME
69,2022-09-29 18:10:52,6.63,53.0,30.44,59.0,118.82,5.62,06:13:00,18:13:00,18:10:52
70,2022-09-29 18:05:22,10.96,54.0,30.44,59.0,154.16,4.50,06:13:00,18:13:00,18:05:22
71,2022-09-29 18:00:22,19.42,55.0,30.44,57.0,58.42,6.75,06:13:00,18:13:00,18:00:22
72,2022-09-29 17:55:22,27.14,55.0,30.44,53.0,47.86,4.50,06:13:00,18:13:00,17:55:22
73,2022-09-29 17:50:19,33.75,56.0,30.44,52.0,74.56,2.25,06:13:00,18:13:00,17:50:19

### 1-2

In [60]:
features = ['PRESSURE', 'HUMIDITY', 'WIND_SPEED']
target = 'RADIATION'

In [61]:
from scipy.stats import pearsonr

In [62]:
pearsons = []

for feature in features:
    pearsons.append(abs(pearsonr(x=df_1[feature], y=df_1[target])[0]))

In [63]:
pearsons

[np.float64(0.23483207592088645),
 np.float64(0.3935655577994497),
 np.float64(0.12590175226378414)]

### Q1 Answer

In [64]:
round(max(pearsons), 3)

np.float64(0.394)

# Q2

In [152]:
df_2 = pd.read_csv('lv2-2305-3.csv')
df_2.head()

,OBS_DT,RADIATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED,TIME_SUNRISE,TIME_SUNSET
0,2022-09-29 23:55:26,1.21,48.0,30.46,59.0,177.39,5.62,06:13:00,18:13:00
1,2022-09-29 23:50:23,1.21,48.0,30.46,58.0,176.78,3.37,06:13:00,18:13:00
2,2022-09-29 23:45:26,1.23,48.0,30.46,57.0,158.75,3.37,06:13:00,18:13:00
3,2022-09-29 23:40:21,1.21,48.0,30.46,60.0,137.71,3.37,06:13:00,18:13:00
4,2022-09-29 23:35:24,1.17,48.0,30.46,62.0,104.95,5.62,06:13:00,18:13:00

In [153]:
df_2.shape

(32686, 9)

### 2-1

In [154]:
dates = []

for datetime in df_2['OBS_DT']:
    dates.append(datetime[:10])

dates[:10]

['2022-09-29',
 '2022-09-29',
 '2022-09-29',
 '2022-09-29',
 '2022-09-29',
 '2022-09-29',
 '2022-09-29',
 '2022-09-29',
 '2022-09-29',
 '2022-09-29']

In [155]:
df_2['DATE'] = dates

In [156]:
df_2.head()

,OBS_DT,RADIATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED,TIME_SUNRISE,TIME_SUNSET,DATE
0,2022-09-29 23:55:26,1.21,48.0,30.46,59.0,177.39,5.62,06:13:00,18:13:00,2022-09-29
1,2022-09-29 23:50:23,1.21,48.0,30.46,58.0,176.78,3.37,06:13:00,18:13:00,2022-09-29
2,2022-09-29 23:45:26,1.23,48.0,30.46,57.0,158.75,3.37,06:13:00,18:13:00,2022-09-29
3,2022-09-29 23:40:21,1.21,48.0,30.46,60.0,137.71,3.37,06:13:00,18:13:00,2022-09-29
4,2022-09-29 23:35:24,1.17,48.0,30.46,62.0,104.95,5.62,06:13:00,18:13:00,2022-09-29

In [157]:
max_temp_date = df_2.groupby('DATE')['TEMPERATURE'].max().reset_index()
max_temp_date.head()

         DATE  TEMPERATURE
0  2022-09-01         63.0
1  2022-09-02         65.0
2  2022-09-03         63.0
3  2022-09-04         62.0
4  2022-09-05         64.0

In [158]:
max_temp_date.shape

(118, 2)

In [159]:
tmp = []
a = df_2['DATE']
b = max_temp_date['DATE']
c = max_temp_date['TEMPERATURE']

In [160]:
a

0        2022-09-29
1        2022-09-29
2        2022-09-29
3        2022-09-29
4        2022-09-29
            ...
32681    2022-12-01
32682    2022-12-01
32683    2022-12-01
32684    2022-12-01
32685    2022-12-01
Name: DATE, Length: 32686, dtype: object

In [161]:
b

0      2022-09-01
1      2022-09-02
2      2022-09-03
3      2022-09-04
4      2022-09-05
          ...
113    2022-12-27
114    2022-12-28
115    2022-12-29
116    2022-12-30
117    2022-12-31
Name: DATE, Length: 118, dtype: object

In [162]:
c

0      63.0
1      65.0
2      63.0
3      62.0
4      64.0
       ...
113    60.0
114    52.0
115    50.0
116    51.0
117    54.0
Name: TEMPERATURE, Length: 118, dtype: float64

In [163]:
for dt in a:
    for i in range(len(b)):
        if dt == b[i]:
            tmp.append(c[i])
            break

In [164]:
len(tmp)

32686

In [165]:
df_2['MAX_TEMPERATURE'] = tmp

In [166]:
df_2.head()

,OBS_DT,RADIATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED,TIME_SUNRISE,TIME_SUNSET,DATE,MAX_TEMPERATURE
0,2022-09-29 23:55:26,1.21,48.0,30.46,59.0,177.39,5.62,06:13:00,18:13:00,2022-09-29,64.0
1,2022-09-29 23:50:23,1.21,48.0,30.46,58.0,176.78,3.37,06:13:00,18:13:00,2022-09-29,64.0
2,2022-09-29 23:45:26,1.23,48.0,30.46,57.0,158.75,3.37,06:13:00,18:13:00,2022-09-29,64.0
3,2022-09-29 23:40:21,1.21,48.0,30.46,60.0,137.71,3.37,06:13:00,18:13:00,2022-09-29,64.0
4,2022-09-29 23:35:24,1.17,48.0,30.46,62.0,104.95,5.62,06:13:00,18:13:00,2022-09-29,64.0

In [167]:
max_temp_date.head()

         DATE  TEMPERATURE
0  2022-09-01         63.0
1  2022-09-02         65.0
2  2022-09-03         63.0
3  2022-09-04         62.0
4  2022-09-05         64.0

In [168]:
max_temp_date.columns = ['DATE', 'MAX_TEMPERATURE']

In [169]:
max_temp_date.head()

         DATE  MAX_TEMPERATURE
0  2022-09-01             63.0
1  2022-09-02             65.0
2  2022-09-03             63.0
3  2022-09-04             62.0
4  2022-09-05             64.0

### 2-2

In [170]:
max_temp_date.loc[max_temp_date['DATE'] == '2022-12-07']

Empty DataFrame
Columns: [DATE, MAX_TEMPERATURE]
Index: []

In [171]:
new_targets = ['2022-09-30', '2022-11-30', '2022-12-06', '2022-12-07']
for new in new_targets:
    max_temp_date.loc[len(max_temp_date)] = [new, 0]

In [172]:
max_temp_date.tail()

           DATE  MAX_TEMPERATURE
117  2022-12-31             54.0
118  2022-09-30              0.0
119  2022-11-30              0.0
120  2022-12-06              0.0
121  2022-12-07              0.0

### 2-3

In [181]:
max_temp_date.sort_values(by='DATE')

           DATE  MAX_TEMPERATURE
0    2022-09-01             63.0
1    2022-09-02             65.0
2    2022-09-03             63.0
3    2022-09-04             62.0
4    2022-09-05             64.0
..          ...              ...
113  2022-12-27             60.0
114  2022-12-28             52.0
115  2022-12-29             50.0
116  2022-12-30             51.0
117  2022-12-31             54.0

[122 rows x 2 columns]

In [182]:
print(0.3 * max_temp_date.loc[max_temp_date['DATE'] == '2022-09-28']['MAX_TEMPERATURE'])
print(0.7 * max_temp_date.loc[max_temp_date['DATE'] == '2022-09-29']['MAX_TEMPERATURE'])

27    19.2
Name: MAX_TEMPERATURE, dtype: float64
28    44.8
Name: MAX_TEMPERATURE, dtype: float64

In [183]:
19.2 + 44.8

64.0

In [184]:
print(0.3 * max_temp_date.loc[max_temp_date['DATE'] == '2022-11-28']['MAX_TEMPERATURE'])
print(0.7 * max_temp_date.loc[max_temp_date['DATE'] == '2022-11-29']['MAX_TEMPERATURE'])

87    18.6
Name: MAX_TEMPERATURE, dtype: float64
88    35.7
Name: MAX_TEMPERATURE, dtype: float64

In [185]:
18.6 + 35.7

54.300000000000004

In [186]:
print(0.3 * max_temp_date.loc[max_temp_date['DATE'] == '2022-12-04']['MAX_TEMPERATURE'])
print(0.7 * max_temp_date.loc[max_temp_date['DATE'] == '2022-12-05']['MAX_TEMPERATURE'])

92    13.5
Name: MAX_TEMPERATURE, dtype: float64
93    31.5
Name: MAX_TEMPERATURE, dtype: float64

In [187]:
13.5 + 31.5

45.0

In [188]:
max_temp_date.loc[max_temp_date['DATE'] == '2022-09-30']

           DATE  MAX_TEMPERATURE
118  2022-09-30              0.0

In [189]:
max_temp_date.iloc[118] = ['2022-09-30', 64.0]

In [190]:
max_temp_date.loc[max_temp_date['DATE'] == '2022-11-30']

           DATE  MAX_TEMPERATURE
119  2022-11-30              0.0

In [193]:
max_temp_date.iloc[119] = ['2022-11-30', 54.3]

In [194]:
max_temp_date.loc[max_temp_date['DATE'] == '2022-11-30']

           DATE  MAX_TEMPERATURE
119  2022-11-30             54.3

In [195]:
max_temp_date.loc[max_temp_date['DATE'] == '2022-12-06']

           DATE  MAX_TEMPERATURE
120  2022-12-06              0.0

In [196]:
max_temp_date.iloc[120] = ['2022-12-06', 45.0]

In [197]:
max_temp_date.loc[max_temp_date['DATE'] == '2022-12-06']

           DATE  MAX_TEMPERATURE
120  2022-12-06             45.0

### 2-4

In [198]:
max_temp_date.loc[max_temp_date['DATE'] == '2022-12-07']

           DATE  MAX_TEMPERATURE
121  2022-12-07              0.0

In [199]:
max_temp_date.iloc[121] = ['2022-12-07', 45.0]

In [200]:
max_temp_date = max_temp_date.sort_values(by='DATE')

### Q2 Answer

In [202]:
round( (64.0 + 54.3 + 90) / 4 , 1)

52.1

# Q3

In [229]:
df_3 = pd.read_csv('lv2-2305-3.csv')
df_3.head()

,OBS_DT,RADIATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED,TIME_SUNRISE,TIME_SUNSET
0,2022-09-29 23:55:26,1.21,48.0,30.46,59.0,177.39,5.62,06:13:00,18:13:00
1,2022-09-29 23:50:23,1.21,48.0,30.46,58.0,176.78,3.37,06:13:00,18:13:00
2,2022-09-29 23:45:26,1.23,48.0,30.46,57.0,158.75,3.37,06:13:00,18:13:00
3,2022-09-29 23:40:21,1.21,48.0,30.46,60.0,137.71,3.37,06:13:00,18:13:00
4,2022-09-29 23:35:24,1.17,48.0,30.46,62.0,104.95,5.62,06:13:00,18:13:00

### 3-1

In [244]:
dates = []

for datetime in df_3['OBS_DT']:
    dates.append(datetime[:10])

dates[:10]

df_3['DATE'] = dates

df_3.head()

,OBS_DT,RADIATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED,TIME_SUNRISE,TIME_SUNSET,DATE,SUN_DURATION
0,2022-09-29 23:55:26,1.21,48.0,30.46,59.0,177.39,5.62,06:13:00,18:13:00,2022-09-29,43200
1,2022-09-29 23:50:23,1.21,48.0,30.46,58.0,176.78,3.37,06:13:00,18:13:00,2022-09-29,43200
2,2022-09-29 23:45:26,1.23,48.0,30.46,57.0,158.75,3.37,06:13:00,18:13:00,2022-09-29,43200
3,2022-09-29 23:40:21,1.21,48.0,30.46,60.0,137.71,3.37,06:13:00,18:13:00,2022-09-29,43200
4,2022-09-29 23:35:24,1.17,48.0,30.46,62.0,104.95,5.62,06:13:00,18:13:00,2022-09-29,43200

In [234]:
sunrises = df_3['TIME_SUNRISE']
sunsets = df_3['TIME_SUNSET']

In [235]:
len(sunrises), len(sunsets)

(32686, 32686)

In [236]:
sun_dur = []

for i in range(32686):
    sun_dur.append(3600 * (int(sunsets[i][:2]) - int(sunrises[i][:2])) + 60 * (int(sunsets[i][3:5]) - int(sunrises[i][3:5])) + (int(sunsets[i][6:8]) - int(sunrises[i][6:8])))

In [237]:
len(sun_dur)

32686

In [238]:
sun_dur[:10]

[43200, 43200, 43200, 43200, 43200, 43200, 43200, 43200, 43200, 43200]

In [240]:
df_3['SUN_DURATION'] = sun_dur
df_3.head()

,OBS_DT,RADIATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED,TIME_SUNRISE,TIME_SUNSET,DATE,SUN_DURATION
0,2022-09-29 23:55:26,1.21,48.0,30.46,59.0,177.39,5.62,06:13:00,18:13:00,2022-09-29,43200
1,2022-09-29 23:50:23,1.21,48.0,30.46,58.0,176.78,3.37,06:13:00,18:13:00,2022-09-29,43200
2,2022-09-29 23:45:26,1.23,48.0,30.46,57.0,158.75,3.37,06:13:00,18:13:00,2022-09-29,43200
3,2022-09-29 23:40:21,1.21,48.0,30.46,60.0,137.71,3.37,06:13:00,18:13:00,2022-09-29,43200
4,2022-09-29 23:35:24,1.17,48.0,30.46,62.0,104.95,5.62,06:13:00,18:13:00,2022-09-29,43200

In [241]:
df_3.loc[df_3['DATE'] == '2022-09-01']

,OBS_DT,RADIATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED,TIME_SUNRISE,TIME_SUNSET,DATE,SUN_DURATION
7167,2022-09-01 23:55:07,3.05,52.0,30.46,76.0,69.32,2.25,06:07:00,18:38:00,2022-09-01,45060
7168,2022-09-01 23:50:03,2.42,52.0,30.46,79.0,168.41,2.25,06:07:00,18:38:00,2022-09-01,45060
7169,2022-09-01 23:45:03,3.30,52.0,30.46,81.0,142.77,4.50,06:07:00,18:38:00,2022-09-01,45060
7170,2022-09-01 23:40:08,3.15,52.0,30.46,84.0,132.20,5.62,06:07:00,18:38:00,2022-09-01,45060
7171,2022-09-01 23:35:04,1.79,52.0,30.46,86.0,148.24,3.37,06:07:00,18:38:00,2022-09-01,45060
...,...,...,...,...,...,...,...,...,...,...,...
7412,2022-09-01 00:30:09,2.25,51.0,30.43,103.0,67.42,11.25,06:07:00,18:38:00,2022-09-01,45060
7413,2022-09-01 00:25:05,2.21,51.0,30.43,103.0,144.12,18.00,06:07:00,18:38:00,2022-09-01,45060
7414,2022-09-01 00:20:06,2.16,51.0,30.43,103.0,142.04,7.87,06:07:00,18:38:00,2022-09-01,45060
7415,2022-09-01 00:05:10,2.83,51.0,30.43,103.0,153.44,9.00,06:07:00,18:38:00,2022-09-01,45060
7416,2022-09-01 00:00:08,2.58,51.0,30.43,103.0,77.27,11.25,06:07:00,18:38:00,2022-09-01,45060

In [228]:
df_3.groupby('DATE')[['SUN_DURATION']].mean()

            SUN_DURATION
DATE
2022-09-01       45060.0
2022-09-02       45000.0
2022-09-03       44880.0
2022-09-04       44820.0
2022-09-05       44820.0
...                  ...
2022-12-27       39360.0
2022-12-28       39360.0
2022-12-29       39420.0
2022-12-30       39420.0
2022-12-31       39420.0

[118 rows x 1 columns]

### 3-2

In [226]:
df_sum = df_3.groupby('DATE')[['SUN_DURATION', 'TEMPERATURE', 'PRESSURE', 'HUMIDITY', 'WIND_DIRECTION', 'WIND_SPEED', 'RADIATION']].mean().reset_index()

In [227]:
df_sum.head()

,DATE,SUN_DURATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED,RADIATION
0,2022-09-01,45060.0,54.556000,30.436640,78.968000,112.564000,6.396560,298.451600
1,2022-09-02,45000.0,56.379928,30.446487,72.501792,115.392079,5.804086,333.471219
2,2022-09-03,44880.0,55.507092,30.438546,94.599291,192.678546,4.960248,123.974574
3,2022-09-04,44820.0,53.589286,30.454107,93.878571,126.336714,5.184571,153.584321
4,2022-09-05,44820.0,53.199288,30.419680,79.943060,209.169253,5.830676,306.065125

In [242]:
df_sum.loc[df_sum['DATE'] == '2022-09-29']

,DATE,SUN_DURATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED,RADIATION
28,2022-09-29,43200.0,53.814035,30.435789,57.617544,127.184456,5.918421,311.668982

### 3-3

In [245]:
df_sum.shape

(118, 8)

In [250]:
df_sum.head()

,DATE,SUN_DURATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED,RADIATION
0,2022-09-01,45060.0,54.556000,30.436640,78.968000,112.564000,6.396560,298.451600
1,2022-09-02,45000.0,56.379928,30.446487,72.501792,115.392079,5.804086,333.471219
2,2022-09-03,44880.0,55.507092,30.438546,94.599291,192.678546,4.960248,123.974574
3,2022-09-04,44820.0,53.589286,30.454107,93.878571,126.336714,5.184571,153.584321
4,2022-09-05,44820.0,53.199288,30.419680,79.943060,209.169253,5.830676,306.065125

In [252]:
len(df_sum['DATE'])

118

In [255]:
df_sum['day'] = df_sum['DATE'].map(lambda x: x[-2:])

In [256]:
df_sum.head()

,DATE,SUN_DURATION,TEMPERATURE,PRESSURE,HUMIDITY,WIND_DIRECTION,WIND_SPEED,RADIATION,day
0,2022-09-01,45060.0,54.556000,30.436640,78.968000,112.564000,6.396560,298.451600,01
1,2022-09-02,45000.0,56.379928,30.446487,72.501792,115.392079,5.804086,333.471219,02
2,2022-09-03,44880.0,55.507092,30.438546,94.599291,192.678546,4.960248,123.974574,03
3,2022-09-04,44820.0,53.589286,30.454107,93.878571,126.336714,5.184571,153.584321,04
4,2022-09-05,44820.0,53.199288,30.419680,79.943060,209.169253,5.830676,306.065125,05

In [258]:
df_train = df_sum.loc[(df_sum['day'] != '01') & (df_sum['day'] != '15')]

In [263]:
df_train.shape

(110, 9)

In [264]:
df_test = df_sum.loc[(df_sum['day'] == '01') | (df_sum['day'] == '15')]

In [265]:
df_test.shape

(8, 9)

### 3-4

In [266]:
from sklearn.linear_model import LinearRegression

In [267]:
df_train.iloc[:, 7]

1      333.471219
2      123.974574
3      153.584321
4      306.065125
5      310.643781
          ...
113    239.910556
114    174.910278
115    125.018049
116     88.367684
117    144.288542
Name: RADIATION, Length: 110, dtype: float64

In [269]:
model = LinearRegression().fit(y=df_train.iloc[:, 7], X=df_train.iloc[:, 1:7])

### 3-5

In [270]:
pred = model.predict(X=df_test.iloc[:, 1:7])

In [271]:
from sklearn.metrics import mean_squared_error

### Q3 Answer

In [273]:
round(mean_squared_error(y_true=df_test.iloc[:, 7], y_pred=pred), 2)

2364.53